/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
	position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {	
	position: absolute;
	/* size of bullet elment */
	width: 20px;
	height: 20px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 45px;
	border: 3px solid #000;
}

.jssorb01 .av:before
{
    font-family: 'slick';
    font-size: 9px;

    position: absolute;
    top: 3px;
    left: 2px;

    width: 15px;
    height: 15px;

    content: '•';

    color: #f11f1e;
}

/* .jssorb01 div { background-color: transparent; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #f11f1e; }
.jssorb01 .av { background-color: #f11f1e; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; } */

/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l                  (normal)
.jssora02r                  (normal)
.jssora02l:hover            (normal mouseover)
.jssora02r:hover            (normal mouseover)
.jssora02l.jssora02ldn      (mousedown)
.jssora02r.jssora02rdn      (mousedown)
.jssora02l.jssora02lds      (disabled)
.jssora02r.jssora02rds      (disabled)
*/
.jssora02l, .jssora02r {
	display: block;
	position: absolute;
	top:0px;
	/* size of arrow element */
	width: 31px;
	height: 31px;
	cursor: pointer;

	overflow: hidden;
}
.jssora02l {
	left: 60px;
	background: url('../img/slider-left-arrow.png') no-repeat;
}

.jssora02r {
	right: 60px;
	background: url('../img/slider-right-arrow.png') no-repeat;
}


/* .jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
*/