<div  ng-show="activeStep === 'first'" ng-include="'views/pages/run/run_opinions/tab_steps/first_step.html'"></div>
<div  ng-show="activeStep === 'second'" ng-include="'views/pages/run/run_opinions/tab_steps/second_step.html'"></div>
<div  ng-show="activeStep === 'third'" ng-include="'views/pages/run/run_opinions/tab_steps/third_step.html'"></div>
<div  ng-show="activeStep === 'finish'" ng-include="'views/pages/run/run_opinions/tab_steps/finish.html'"></div>
<div  ng-show="isPreviewMode" id="runPreviewWin" class="fx-bounce-down fx-dur-701 fx-ease-quart" ng-include="'views/pages/run/tab_steps/preview.html'"></div>


