<div class="twenty-first-page">
  <h1>ECRIRE UN AVIS</h1>
  <h2>RECHERCHER UNE COURSE</h2>


  <h2 class="title"><span class="title-text"><img src="img/search-title-icon.png" alt="search title icon"></span></h2>

  <div class="row content-block">
    <div class="col-md-4 col-sm-6" ng-repeat="run in runs track by $index">
      <figure ui-sref="opinion.new({id:run.course.id})">

        <div center-crop ratio-width="3.5" ratio-height="2">
          <img class="thumb-img" ng-src="{{ run.course.course_images[0].url || 'http://suyognisarg.com/media/no_image_available.png' }}" alt="img 1">
        </div>
        <figcaption>
          <button class="top-caption-button"><img src="img/top-button-caption-icon.png" alt="top button caption icon">{{ run.reviews_count }} avis</button>
          <h2>{{ run.course.name }}</h2>
          <div class="rating-after">
            <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">

            <button>{{ run.reviews_count }} avis</button>
          </div>
          <button class="one"><img src="img/clock.png" alt="clock">{{ formatRangeDate(run.start_at, run.end_at) }}</button>
          <button class="two"><img src="img/place.png" alt="place">{{run.course.location}}</button>
          <div class="description">
            <img src="img/info-icon.png" alt="info icon"><p>{{run.course.name}}</p>
            <div class="rating">
              <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">

              <button>{{ run.reviews_count }} avis</button>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>


    <div class="clearfix"></div>


  </div>
  <div class="fullWith text-center" ng-show="runs.length === 0">
    <h1 >Aucune course ne correspond a votre recherche.</h1>
    <button  class="top-button" ui-sref="run.add"><img src="img/plus-button.png" alt="plus button">AJOUTER UNE COURSE</button>
  </div>

</div>
