<div  ng-show="activeStep === 'first'" class="fx-bounce-left fx-dur-600 fx-ease-none" ng-include="'views/pages/run/tab_steps/first_step.html'"></div>
<div  ng-show="activeStep === 'second'" class="fx-bounce-left fx-dur-600 fx-ease-none" ng-include="'views/pages/run/tab_steps/second_step.html'"></div>
<div  ng-show="activeStep === 'third'" class="fx-bounce-left fx-dur-600 fx-ease-none" ng-include="'views/pages/run/tab_steps/third_step.html'"></div>
<div  ng-show="isPreviewMode" id="runPreviewWin" class="fx-bounce-down fx-dur-701 fx-ease-quart" ng-include="'views/pages/run/tab_steps/preview.html'"></div>


