<div class="homepage" ng-class="'fx-fade-down'" class="fx-dur-1208 fx-ease-quart">
  <rm-loader ng-hide="runs"></rm-loader>
<!-- SLIDER -->
<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1500px;height:750px;overflow:hidden;visibility:hidden;">
  <!-- Loading Screen -->
  <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
    <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
  </div>
  <div data-u="slides" class="slides" style="cursor: default;position: relative;top: 0px;left: 0px;width: 1500px;height: 750px;overflow: hidden;">
    <div>
      <img data-u="image" src="img/slider_img_1.jpg" />
      <div data-u="caption" data-t="3" style="position: absolute;top: 275px;left: 155px;width:1190px;height:200px;z-index:0;background-color:rgba(0,0,0,0.3);font-family: RelayBold;font-size:121px;color:#fff;line-height:1.6;text-align:center;">PRENEZ LE DEPART</div>
    </div>
    <div>
      <img data-u="image" src="img/slider_img_2.jpg" />
      <div data-u="caption" data-t="6" style="position: absolute;top: 275px;left: 155px;width:1190px;height:200px;z-index:0;background-color:rgba(0,0,0,0.3);font-family: RelayBold;font-size:121px;color:#fff;line-height:1.6;text-align:center;">PRENEZ LE DEPART</div>
    </div>
    <div>
      <img data-u="image" src="img/slider_img_1.jpg" />
      <div data-u="caption" data-t="4" style="position: absolute;top: 275px;left: 155px;width:1190px;height:200px;z-index:0;background-color:rgba(0,0,0,0.3);font-family: RelayBold;font-size:121px;color:#fff;line-height:1.6;text-align:center;">PRENEZ LE DEPART</div>
    </div>
  </div>
  <!-- Bullet Navigator -->
  <!-- <div data-u="navigator" class="jssorb01" style="bottom:16px;right:16px;">
            <div data-u="prototype" style="width:12px;height:12px;"></div>
        </div> -->
  <!-- Arrow Navigator -->
  <span data-u="arrowleft" class="jssora02l" data-autocenter="2"></span>
  <span data-u="arrowright" class="jssora02r" data-autocenter="2"></span>
</div>
<!-- SLIDER end -->

  <h2 class="title"><span class="title-text"><img src="img/running-man-icon.png" alt="running man icon"></span></h2>
  <h1>Les derniers runs</h1>
  <div class="buttons-wrapper">
    <button class="most-recents"><img src="img/clock-button-icon.png" alt="">les plus récentes</button>
    <button class="closest"><img src="img/place-button-icon.png" alt="">les plus proches</button>
    <button class="best-rated"><img src="img/heart-button-icon.png" alt="">les mieux notées</button>
  </div>
  <div class="container-fluid">
    <div class="row content-block">
      <div class="col-md-4 col-sm-6" ng-repeat="run in runs track by $index">
        <figure ui-sref="run.profile({id:run.course.id})">

          <div  center-crop ratio-width="3.5" ratio-height="2">
            <img class="thumb-img" ng-src="{{ run.course.course_images[0].url || 'https://pharodelogos.files.wordpress.com/2014/04/1d6b9-fisica.jpg' }}" alt="img 1">
          </div>
          <figcaption>
            <button class="top-caption-button"><img src="img/top-button-caption-icon.png" alt="top button caption icon">{{ run.reviews_count }} avis</button>
            <h2>{{ run.course.name }}</h2>
            <div class="rating-after">
              <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">
              <button>{{ run.reviews_count }} avis</button>
            </div>
            <button class="one"><img src="img/clock.png" alt="clock">{{ formatRangeDate(run.start_at, run.end_at) }}</button>
            <button class="two"><img src="img/place.png" alt="place">{{run.course.location}}</button>
            <div class="description">
              <img src="img/info-icon.png" alt="info icon"><p>{{run.course.name}}</p>
              <div class="rating">
                <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">
                <button>{{ run.reviews_count }} avis</button>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>


      <div class="clearfix"></div>

      <div class="col-md-12">
        <div class="fullWith text-center" ng-show="runs.length === 0">
          <h1>Aucune course actuellement.</h1>
          <div class="space-20"></div>
          <button class="top-button add-btn btn btn-primary btn-lg" ui-sref="run.add"><img src="img/plus-button.png" alt="plus button">AJOUTER UNE COURSE</button>
        </div>
      </div>

    </div>
  </div>
  <div class="see-more" ng-if="runs.length > 20">
    <div class="left-side"><img src="img/button-arrow-icon.png" alt="button arrow icon"></div>
    <button ng-click="loadMoreRuns()" >Voir plus de runs</button>
  </div>
  <div class="fullWith text-center" ng-show="runs.length > 0">
    <button class="top-button add-btn btn btn-primary btn-lg" ui-sref="run.add"><img src="img/plus-button.png" alt="plus button">AJOUTER UNE COURSE</button>
  </div>
  <h2 class="title"><span class="title-text"><img src="img/journalist-icon.png" alt="journalist icon"></span></h2>
  <h1>LES DERNIERS ARTICLES</h1>
  <div class="container-fluid">
    <div class="row content-block">

      <div class="col-md-4 col-sm-6" ng-repeat="article in articles">
        <a>
          <figure class="second-content-rollower" ui-sref="run.article_profile({id:article.id})">
            <div  center-crop ratio-width="3.5" ratio-height="2">
              <img class="thumb-img fullWith" ng-src="{{ article.article_videos[0].file_name ? getYouTubeThumb(article.article_videos[0].file_name | youtubeId) : article.article_images[0].file_name}}" alt="img 7">
            </div>
            <figcaption>
              <img ng-show="article.article_videos[0].file_name" class="play-icon" src="img/play-button-icon.png" alt="play button icon">
              <div class="description">
                <div class="rating">
                  <!--<img src="img/small-star-icon.png" alt="small star">-->
                  <!--<img src="img/small-star-icon.png" alt="small star">-->
                  <!--<img src="img/small-star-icon.png" alt="small star">-->
                  <!--<img src="img/small-star-icon.png" alt="small star">-->
                  <!--<img src="img/small-star-icon.png" alt="small star">-->
                  <!--<button>10200 avis</button>-->
                </div>
                <div class="descripton-icon">
                  <img ng-src="{{article.file_name ? 'img/description-photo-icon.png' : 'img/description-interview-icon.png'}}" alt="description  icon">
                </div>
                <div class="descripton-title" >
                  <p>{{ article.title }}</p>
                </div>
              </div>
            </figcaption>
          </figure>
        </a>
      </div>

    </div>
  </div>


  <div class="see-more">

    <div class="left-side"><img src="img/button-arrow-icon.png" alt="button arrow icon"></div>
    <button>Voir plus d’interviews</button>
    <div class="space-20"></div>

  </div>

  <div class="fullWith text-center" ng-if="AUTHUSER.isAdmin()">
    <button class="top-button add-btn btn btn-success btn-lg" ui-sref="run.article_create"><img src="img/plus-button.png" alt="plus button">ECRIRE UN ARTICLE</button>
  </div>


  <!--<div class="floating-btn" ui-sref="run.add">-->
    <!--<md-button class="md-icon-button test-tooltip flex-center" aria-label="Refresh">-->
      <!--<md-tooltip md-direction="left">AJOUTER UNE COURSE</md-tooltip>-->
      <!--<i class="fa fa-2x fa-plus"></i>-->
    <!--</md-button>-->
  <!--</div>-->

</div>

<script>

  /* ***************** Autocomplete ********************** */
  function initialize() {
    var input = document.getElementById('location');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  function initialize2() {
    var input = document.getElementById('location2');
    var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  google.maps.event.addDomListener(window, 'load', initialize2);
  /* ***************** End Autocomplete ****************** */
  jQuery(document).ready(function ($) {
    var jssor_1_SlideoTransitions = [
      [{b:0,d:600,y:-290,e:{y:27}}],
      [{b:0,d:1000,y:185},{b:1000,d:500,o:-1},{b:1500,d:500,o:1},{b:2000,d:1500,r:360},{b:3500,d:1000,rX:30},{b:4500,d:500,rX:-30},{b:5000,d:1000,rY:30},{b:6000,d:500,rY:-30},{b:6500,d:500,sX:1},{b:7000,d:500,sX:-1},{b:7500,d:500,sY:1},{b:8000,d:500,sY:-1},{b:8500,d:500,kX:30},{b:9000,d:500,kX:-30},{b:9500,d:500,kY:30},{b:10000,d:500,kY:-30},{b:10500,d:500,c:{x:87.50,t:-87.50}},{b:11000,d:500,c:{x:-87.50,t:87.50}}],
      [{b:0,d:600,x:410,e:{x:27}}],
      [{b:-1,d:1,o:-1},{b:0,d:600,o:1,e:{o:5}}],
      [{b:-1,d:1,c:{x:175.0,t:-175.0}},{b:0,d:800,c:{x:-175.0,t:175.0},e:{c:{x:7,t:7}}}],
      [{b:-1,d:1,o:-1},{b:0,d:600,x:-570,o:1,e:{x:6}}],
      [{b:-1,d:1,o:-1,r:-180},{b:0,d:800,o:1,r:180,e:{r:7}}],
      [{b:0,d:1000,y:80,e:{y:24}},{b:1000,d:1100,x:570,y:170,o:-1,r:30,sX:9,sY:9,e:{x:2,y:6,r:1,sX:5,sY:5}}],
      [{b:2000,d:600,rY:30}],
      [{b:0,d:500,x:-105},{b:500,d:500,x:230},{b:1000,d:500,y:-120},{b:1500,d:500,x:-70,y:120},{b:2600,d:500,y:-80},{b:3100,d:900,y:160,e:{y:24}}],
      [{b:0,d:1000,o:-0.4,rX:2,rY:1},{b:1000,d:1000,rY:1},{b:2000,d:1000,rX:-1},{b:3000,d:1000,rY:-1},{b:4000,d:1000,o:0.4,rX:-1,rY:-1}]
    ];

    var jssor_1_options = {
      $AutoPlay: true,
      $Idle: 2000,
      $CaptionSliderOptions: {
        $Class: $JssorCaptionSlideo$,
        $Transitions: jssor_1_SlideoTransitions,
        $Breaks: [
          [{d:2000,b:1000}]
        ]
      },
      $ArrowNavigatorOptions: {
        $Class: $JssorArrowNavigator$
      },
      $BulletNavigatorOptions: {
        $Class: $JssorBulletNavigator$
      }
    };

    var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

    /*responsive code begin*/
    /*remove responsive code if you don't want the slider scales while window resizing*/
    function ScaleSlider() {
      var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
      if (refSize) {
        refSize = Math.min(refSize, 1500);
        jssor_1_slider.$ScaleWidth(refSize);
      }
      else {
        window.setTimeout(ScaleSlider, 30);
      }
    }
    ScaleSlider();
    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    /*responsive code end*/
  });

</script>
