<rm-loader ng-hide="profileIsActive"></rm-loader>
<div class="container sixth-page">
  <div class="row">
    <div class="col-md-1 run-icon" >
      <a data-fancybox  ng-href="{{run.course.course_images[0].url || 'img/run-icon.png'}}">
        <img class="img-responsive" ng-src="{{ run.course.course_images[0].url || 'img/run-icon.png' }}" alt="run icon">
      </a>
    </div>
    <div class="col-md-11 event">
      <div class="col-md-6 event-description">
        <h1>{{run.course.name}}</h1>
        <div class="event-rating">
          <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">

          <button>{{ run.reviews_count }} avis</button>
        </div>
        <div class="row event-detail">
          <div class="places col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-0 col-xs-12">
            <p class="event-publication-date">Postée le {{formatDate(run.created_at.date)}}</p>
            <p class="event-publication-author">{{run.user.first_name + ' ' + run.user.last_name}}</p>
          </div>
          <div class="buttons col-md-7  col-sm-5 col-xs-12">
            <button ng-repeat="format in run.course.course_formats">{{format.name}}</button>

          </div>
        </div>
        <p class="event-place"><img src="img/event-place-icon.png" alt="event place icon">{{run.course.location}}</p>
        <p class="event-date"><img src="img/event-clock-icon.png" alt="event clock icon">{{ formatRangeDate(run.start_at, run.end_at) }}</p>
        <div class="revision-meteo row text-xs-center text-sm-left">
          <div class="col-md-12"><h1>PREVISION METEO</h1></div>
          <div class=" col-xs-12">
            <img src="img/sun.png" alt="sun icon" class="responsive">
            <span class="degree"> 22 &#x2103;</span>
          </div>
          <div class="col-xs-12"><p class="clear-both"> ensoleillé</p> </div>
        </div>
        <!-- <div class="revision-meteo">
                          <h1>PREVISION METEO</h1>
                          <img src="img/sun.png" alt="sun icon" class="">
                          <p class="degree pull-left"> 22 &#x2103;</p>
                          <p class="clear-both"> ensoleillé</p>

                      </div>
                      <div class="buttons">
                          <button class="route">Route</button>
                          <button class="trail">Trail</button>
                      </div>  -->
      </div>
      <div class="col-md-5 col-md-offset-1 event-participants">
        <h1>PARTICIPATIONS</h1>
        <p class="qty">{{run.course_participants.length}} participants</p>
        <p class="quota">22 places disponibles</p>
        <div class="participants">
          <span>Ils y participent :</span>
          <a class="small-img-circle" ng-repeat="partis in run.course_participants" data-fancybox ng-href="{{ partis.avatar }}">
            <img class="img-responsive" ng-src="{{partis.avatar || 'img/man-profile-icon.png'}}"  alt="participant icon">
          </a>

        </div>
        <button class="participate" ng-hide="is_participating"  ng-click="addParticipation()"><img src="img/participant-button-icon.png" alt="participant button icon">J’y participe !</button>
        <button class="participate" ng-show="is_participating" style="opacity: .8" ng-click="removeParticipation()"><img src="img/message-answered-arrow.png" alt="participant button icon">Quitter</button>
        <p class="favorites"><img src="img/favorites-icon.png" alt="favorites icon"> Ajouter à mes favoris</p>
        <p class="share"><img src="img/share-icon.png" alt="share icon"> Partager la course</p>
      </div>
    </div>
    <!--<div class="col-md-11 col-md-offset-1 about-race">-->
      <!--<h1>A PROPOS DE LA COURSE</h1>-->
      <!--<hr>-->
    <!--<p>{{run.coursse.description}}</p>-->
    <!--</div>-->
    <div class="col-md-11 col-md-offset-1 departure-arrival">
      <h1>A PROPOS DE LA COURSE</h1>
      <hr>
      <p>{{run.course.description}}</p>
    </div>

    <div class="col-md-11 col-md-offset-1 ">
      <div class="run-gallery">
        <div class="col-md-4 col-sm-3 col-xs-6" ng-repeat="image in run.course.course_images">
          <div class="gallery-item">
            <a ng-href="{{ image.url }}" data-fancybox="images">
              <img ng-src="{{ image.url }}" >
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-11 col-md-offset-1 courses">
      <h1>PARCOURS & DENIVELE</h1>
      <hr>
      <div course-map-directive gpx-url="run.course.course_markers[0].gpx_url" id="course-map" edit="false" start="start" ></div>
      <!--<img class="img-responsive" src="img/map.jpg" alt="map">-->
    </div>
    <div class="col-md-11 col-md-offset-1 transport">
      <h1>TRANSPORT</h1>
      <hr>

      <!--<div class="col-md-4">-->
        <!--<div class="img-box">-->
          <!--<img src="img/train-icon.png" alt="train icon">-->
        <!--</div>-->
        <!--<h2>159€ A/R</h2>-->
        <!--<p>Lorem ipsum dolor sit amet, eos cu diceret tibique voluptatibus. Quo ..</p>-->
        <!--<a href="#"><img src="img/trainline-logo.png" alt="trainline logo"></a>-->
      <!--</div>-->
      <!--<div class="col-md-4">-->
        <!--<div class="img-box">-->
          <!--<img src="img/car-icon.png" alt="car icon">-->
        <!--</div>-->
        <!--<h2>89€ A/R</h2>-->
        <!--<p>Lorem ipsum dolor sit amet, eos cu diceret tibique voluptatibus. Quo ..</p>-->
        <!--<a href="#"><img src="img/blablacar-logo.png" alt="blablacar logo"></a>-->
      <!--</div>-->
      <a class="col-md-4" ng-href="{{getAviaBookingUrl(avia)}}" ng-if="dateFilter(avia.depart_date)" ng-repeat="avia in travelAvia | limitTo:3">
        <div class="img-box">
          <img src="img/airplane-icon.png" alt="airplane icon">
        </div>
        <h2>{{ avia.value }}€ A/R</h2>
        <p style="font-weight: bolder">{{ getAviaInfo(avia['gates_info']).label }}</p>
        <!--<a href="#"><img src="img/trivago-icon.png" alt="trivago icon"></a>-->
      </a>
    </div>
    <div class="col-md-11 col-md-offset-1 accommodation">
      <h1>HEBERGEMENT</h1>
      <hr>
      <a class="col-md-4"  ng-repeat="hotel in nearbyHotels | limitTo:0" ng-href="{{ getUrlFromTag(hotel.photos[0].html_attributions[0])  }}" target="_blank">
        <p>{{ hotel.vicinity }}</p>
        <div center-crop ratio-width="3" ratio-height="2.3">
          <!--<img class="img-responsive" ng-src="{{ getPlaceAvatar(hotel.reference) }}" alt="hotel img ">-->
          <img class="img-responsive" ng-src="{{ hotel.photos[0].getUrl({'maxWidth': 600, 'maxHeight': 600}) }}" alt="hotel img ">
        </div>
        <b style="color:red; font-weight: bolder">{{ hotel.name }}</b>
      </a>
      <div class="clearfix"></div>

      <div class="col-md-4"  ng-repeat="hotel in travelHotels | limitTo:3 " >
        <p>{{ hotel.address }}</p>
        <div center-crop ratio-width="3" ratio-height="2.3" ng-click="openNgDialog('views/popups/hotel_rooms.html',hotel)">
          <img class="img-responsive" ng-src="{{ getTravelHotelAvatar(hotel.id) }}" alt="hotel img ">
        </div>

        <a ng-href="{{ hotel.fullUrl  }}" target="_blank"><b style="color:red; "> {{ hotel.name }}</b></a>
      </div>
    </div>
    <!-- **************** Quick Response Section ************** -->
    <div class="col-md-11 col-md-offset-1 questions">
      <div class="row">
        <div class="col-sm-6 col-xs-12"><h1>QUESTIONS/REPONSES ( {{ questionAndAnswers.length }} )</h1> </div>
        <div class="col-sm-6 col-xs-12  text-left-xs text-right-md text-right-lg">
          <button class="participate ">Poser une question à l’organisateur</button>
        </div>
        <hr>
      </div>
    </div>

    <div class="col-md-12 response-list reviews" ng-repeat="question in questionAndAnswers track by $index">
      <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-0 col-xs-12 profile-box">
        <div>
          <p class="question-title">{{ question.user.name }}</p>
          <div>
            <div class="img-profile pointer" ui-sref="profile.view({id:opinion.user.id})" center-crop ratio-height="1" ratio-width="1">
              <img ng-src="{{ question.user.avatar || 'img/man-profile-icon.png' }}" alt="lida profile icon">
            </div>

            <a class="trophy user-level-badge" href="#"><img ng-src="{{'img/' + question.user.user_level.name + '.png'}}" alt="trophy icon"></a>
            <a class="email"ng-click="openMsgPopup(question.user.id)" ><img src="img/email-icon.png" alt="email icon"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-1 col-md-offset-0 col-sm-10 col-md-10 col-xs-12">
        <p>
         {{question.body}}
        </p>
        <p class="gray-para">{{formatDateWidthTime(question.created_at.date)}}</p>
        <blockquote class="blockquote" ng-repeat="answer in question.answer">
          <p class="gray-para">Réponse:</p>
          <p>
           {{answer.body}}
          </p>
          <p class="gray-para">{{formatDateWidthTime(answer.created_at.date)}}</p>
          <a class="removeBtn" ng-click="removeAnswer(answer,idx)" ng-if="AUTHUSER.userID() == run.official_organizer_id || AUTHUSER.userID() == question.user.id"><i class="fa fa-trash"></i></a>

        </blockquote>
        <a class="removeBtn" ng-click="removeQuestion(question,idx)" ng-if="AUTHUSER.userID() == run.official_organizer_id || AUTHUSER.userID() == question.user.id"><i class="fa fa-trash"></i></a>
        <a class="pull-right" ng-if="AUTHUSER.userID() == run.official_organizer_id" ng-click="openAnswerMsgBox(question,$index)">Answer</a>
      </div>
    </div>
    <div class="col-md-12 loadMore text-center " ng-if="questionAndAnswers.length > 20">
      <button class="participate leave-review"  ng-click="loadMoreQuestion()">Load More Questions</button>
    </div>
    <div class="col-md-10 col-md-offset-1 text-box eighth-page fx-light-speed fx-dur-600 fx-ease-none" ng-show="msgBoxIsOpen">
      <textarea ng-class="{'shake-error':errors.body[0]}" ng-model="qaData.body" cols="30" rows="5"></textarea>
      <button class="sendMsgBtn"  ng-click="sendAnswer()">Envoyer <img ng-show="sendingMsg" class="pull-right" width="35" src="https://werrx.com/images/load.gif" alt=""></button>
    </div>
    <div class="col-md-12 questions text-center" ng-hide="msgBoxIsOpen">
      <button class="participate plus_de_questions" ng-click="openMsgBox()">Plus de questions</button>
    </div>

    <!-- ************* End of Question Section ***************** -->

    <div class="col-md-11 col-md-offset-1 avis">
      <div class="row">
        <div class="col-sm-6 col-xs-12"><h1 class="avis-title"> AVIS ({{ run.reviews_count  }})</h1> </div>
        <div class="col-sm-6 col-xs-12  text-left-xs text-right-md text-right-lg">

          <button class="leave-review" ui-sref="opinion.new({id:run.course.id})">Laisser mon avis sur la course</button>
        </div>
        <hr>
      </div>

      <div class="col-lg-12" >
        <div id="scrollbar">
          <div class="row">
            <div class="col-sm-6">
              <div class="item text-left">
                <span>Parcours</span>
                <img src="img/small-star-icon.png" alt="small star" style="width:20px" ng-repeat="star in getRepeatNumber(run.totals.parcour_score) track by $index">

              </div>
              <div class="item text-left">
                <span>Ambiance</span>
                <img src="img/small-star-icon.png" alt="small star"style="width:20px"  ng-repeat="star in getRepeatNumber(run.totals.ambiance_score) track by $index">
              </div>
              <div class="item text-left">
                <span>Dotation</span>
                <img src="img/small-star-icon.png" alt="small star"style="width:20px"  ng-repeat="star in getRepeatNumber(run.totals.dotation_score) track by $index">
              </div>
            </div>
            <div  class="col-sm-6">
              <div class="item text-left">
                <span>Ravitaillement</span>
                <img src="img/small-star-icon.png" alt="small star"style="width:20px"  ng-repeat="star in getRepeatNumber(run.totals.revitaillement_score) track by $index">
              </div>
              <div class="item text-left">
                <span>Organisation</span>
                <img src="img/small-star-icon.png" alt="small star"style="width:20px"  ng-repeat="star in getRepeatNumber(run.totals.organisation_score) track by $index">
              </div>
              <div class="item text-left">
                <span>Difficulté</span>
                <img src="img/small-star-icon.png" alt="small star"style="width:20px"  ng-repeat="star in getRepeatNumber(run.totals.difficult_score) track by $index">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 reviews">
      <section class="imagess-slider">



        <div  ng-repeat="opinion in opinions">
          <div class="col-md-1 profile-box">
            <div>
              <div class="img-profile pointer" ui-sref="profile.view({id:opinion.user.id})">
                <img ng-src="{{ opinion.user.avatar || 'img/man-profile-icon.png' }}" alt="lida profile icon">
              </div>

              <a class="trophy user-level-badge" href="#"><img ng-src="{{'img/' + opinion.user.user_level.name + '.png'}}" alt="trophy icon"></a>
              <a class="email"ng-click="openMsgPopup(opinion.user.id)" ><img src="img/email-icon.png" alt="email icon"></a>
            </div>
          </div>
          <div class="col-md-11">
            <h2 class="review-author pointer" ui-sref="profile.view({id:opinion.user.id})">{{ opinion.user.first_name + ' '+ opinion.user.last_name}}</h2>
            <p class="review-description">{{ opinion.body }}</p>
            <div class="review-mark">

              <img src="img/small-star-icon.png" alt="small star" ng-repeat="star in getRepeatNumber(opinion.total) track by $index">

            </div>
            <div class="report" data-toggle="modal" data-target="#myModal"> <img src="img/report.png" alt="report icon"> signaler</div>
            <hr >
          </div>
        </div>


      </section>

      <section class="section-pagination">
        <div class="first-page">
          <section class="section-pagination">
            <ul class="pagination">
              <li class="active-page">1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li class="arrow"><img src="img/arrow-right-icon.png" alt="arrow right icon"></li>
            </ul>
            </ul>
          </section>
        </div>

      </section>
    </div>
  </div>
</div>
