		<footer>
			<div class="footer-main-part">
				<a href="#"><img class="img-responsive" src="img/footer-logo.png" alt="footer logo"></a>
				<ul class="social">
					<li><p>Rejoignez sur</p></li>
					<li><a href="#"><img src="img/twitter-icon.png" alt="twitter icon"></a></li>
					<li><a href="#"><img src="img/facebook-icon.png" alt="facebook icon"></a></li>
					<li><a href="#"><img src="img/instagram-icon.png" alt="instagram icon"></a></li>
				</ul>
				<ul class="footer-upper-menu">
					<li><a href="#">Ecrire un avis</a></li>
					<li><a href="#">Membres</a></li>
					<li><a href="#">Reportages</a></li>
					<li><a href="#">Sélection RUNMOOV</a></li>
				</ul>
				<ul class="footer-down-menu">
					<li><a href="#">A propos de RUNMOOV</a></li>
					<li><a href="#">Organisateurs</a></li>
					<li><a href="#">Mentions légales</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
		</footer>

	</div><!-- wrapper end -->

	<!-- go to top -->
	<div id="gototop"></div>

	<!-- scripts -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

	<!-- slider -->
    <script src="js/jssor.slider-22.2.16.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCX4-fbKeH5qwtqQu1MfPTi4ChIlTaxdCU&libraries=places"></script>

    <script>
		/* ***************** Autocomplete ********************** */
		function initialize() {
			var input = document.getElementById('location');
			var autocomplete = new google.maps.places.Autocomplete(input);
		}
		function initialize2() {
			var input = document.getElementById('location2');
			var autocomplete = new google.maps.places.Autocomplete(input);
		}

		google.maps.event.addDomListener(window, 'load', initialize);
		google.maps.event.addDomListener(window, 'load', initialize2);
		/* ***************** End Autocomplete ****************** */
        jQuery(document).ready(function ($) {
            var jssor_1_SlideoTransitions = [
              [{b:0,d:600,y:-290,e:{y:27}}],
              [{b:0,d:1000,y:185},{b:1000,d:500,o:-1},{b:1500,d:500,o:1},{b:2000,d:1500,r:360},{b:3500,d:1000,rX:30},{b:4500,d:500,rX:-30},{b:5000,d:1000,rY:30},{b:6000,d:500,rY:-30},{b:6500,d:500,sX:1},{b:7000,d:500,sX:-1},{b:7500,d:500,sY:1},{b:8000,d:500,sY:-1},{b:8500,d:500,kX:30},{b:9000,d:500,kX:-30},{b:9500,d:500,kY:30},{b:10000,d:500,kY:-30},{b:10500,d:500,c:{x:87.50,t:-87.50}},{b:11000,d:500,c:{x:-87.50,t:87.50}}],
              [{b:0,d:600,x:410,e:{x:27}}],
              [{b:-1,d:1,o:-1},{b:0,d:600,o:1,e:{o:5}}],
              [{b:-1,d:1,c:{x:175.0,t:-175.0}},{b:0,d:800,c:{x:-175.0,t:175.0},e:{c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1},{b:0,d:600,x:-570,o:1,e:{x:6}}],
              [{b:-1,d:1,o:-1,r:-180},{b:0,d:800,o:1,r:180,e:{r:7}}],
              [{b:0,d:1000,y:80,e:{y:24}},{b:1000,d:1100,x:570,y:170,o:-1,r:30,sX:9,sY:9,e:{x:2,y:6,r:1,sX:5,sY:5}}],
              [{b:2000,d:600,rY:30}],
              [{b:0,d:500,x:-105},{b:500,d:500,x:230},{b:1000,d:500,y:-120},{b:1500,d:500,x:-70,y:120},{b:2600,d:500,y:-80},{b:3100,d:900,y:160,e:{y:24}}],
              [{b:0,d:1000,o:-0.4,rX:2,rY:1},{b:1000,d:1000,rY:1},{b:2000,d:1000,rX:-1},{b:3000,d:1000,rY:-1},{b:4000,d:1000,o:0.4,rX:-1,rY:-1}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $Idle: 2000,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions,
                $Breaks: [
                  [{d:2000,b:1000}]
                ]
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1500);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*responsive code end*/
        });
    </script>

	<!-- lity -->
	<script src="js/lity.js"></script>

	<!-- go to top -->
	<script>
		$(window).scroll(function () {
			if ($(this).scrollTop() > 250) {
				$('#gototop').fadeIn();
			} else {
				$('#gototop').fadeOut();
			}
		});

		$('#gototop').click(function () {
			$('body,html').animate({
				scrollTop: 0
			}, 800);
			return false;
		});
	</script>

	<!-- profile menu -->
	<script>
		jQuery(function($){$('.asd').click(function(){$('.profile-menu').toggleClass('open')})})
	</script>

	<!-- mobile menu -->
	<script>
		jQuery(function($){$('.menu-btn').click(function(){$('.responsive-menu').toggleClass('expand')})})
	</script>

	<!-- sliderimgages -->
	<script src="js/slick.min.js"></script>
	<script>
		$(".images-slider").slick({
			dots: true,
			infinite: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			//autoplay: true,
			//autoplaySpeed: 3000,
			arrows: false
		});
	</script>

	<!-- drop-down -->
	<script type="text/javascript">

		function DropDown(el) {
			this.dd = el;
			this.initEvents();
		}
		DropDown.prototype = {
			initEvents : function() {
				var obj = this;
				obj.dd.on('click', function(event){
					$(this).toggleClass('active');
					event.stopPropagation();
				});
			}
		}

		$(function() {
			var dd = new DropDown( $('#dd') );
			$(document).click(function() {
				// all dropdowns
				$('.dropdown').removeClass('active');
			});
		});
	</script>

	<!-- datepicker -->

	<script>
		$( function() {
			$( "#datepicker" ).datepicker();
			$( ".datepicker-search" ).datepicker();
		} );
	</script>

	<!-- scrollbar -->
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		(function($){
			$(window).on("load",function(){
				$("#scrollbar").mCustomScrollbar({
					theme:"light"
				});
			});
		})(jQuery);
	</script>

	<!-- slider 2 -->
	<script>
		$(document).ready(function(){
			var initialValue = 25;

			var sliderTooltip = function(event, ui) {
				var curValue = ui.value || initialValue;
				var tooltip = '<div class="tooltips"><div class="tooltips-inner">' + curValue + ' Km</div></div>';

				$('.ui-slider-handle').html(tooltip);

			}

			$("#slider2").slider({
				value: initialValue,
				min: 1,
				max: 100,
				step: 1,
				create: sliderTooltip,
				slide: sliderTooltip
			});
		});
	</script>

	<!-- slider 3 -->
	<script>
		$(document).ready(function(){
			var initialValue = 90;

			var sliderTooltip = function(event, ui) {
				var curValue = ui.value || initialValue;
				var tooltip = '<div class="tooltips"><div class="tooltips-inner">' + curValue + ' %</div></div>';

				$('.ui-slider-handle').html(tooltip);

			}

			$("#slider3").slider({
				value: initialValue,
				min: 1,
				max: 100,
				step: 1,
				create: sliderTooltip,
				slide: sliderTooltip
			});

			$( "#slider3" ).slider( "disable" );
		});
	</script>

	<script src="js/bootstrap.min.js"></script>

	<!-- calendar -->
	<script src="js/moment.min.js"></script>
	<script src="js/fullcalendar.min.js"></script>

	<!-- calendar events -->
	<script>
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				defaultDate: '2017-04-12',
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				events: [
					{
						title: 'All Day Event',
						start: '2017-04-01'
					},
					{
						title: 'Long Event',
						start: '2017-04-07',
						end: '2017-04-10'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2017-04-09T16:00:00'
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: '2017-04-16T16:00:00'
					},
					{
						title: 'Conference',
						start: '2017-04-11',
						end: '2017-04-13'
					},
					{
						title: 'Meeting',
						start: '2017-04-12T10:30:00',
						end: '2017-04-12T12:30:00'
					},
					{
						title: 'Lunch',
						start: '2017-04-12T12:00:00'
					},
					{
						title: 'Meeting',
						start: '2017-04-12T14:30:00'
					},
					{
						title: 'Happy Hour',
						start: '2017-04-12T17:30:00'
					},
					{
						title: 'Dinner',
						start: '2017-04-12T20:00:00'
					},
					{
						title: 'Birthday Party',
						start: '2017-04-13T07:00:00'
					},
					{
						title: 'Click for Google',
						url: 'http://google.com/',
						start: '2017-04-28'
					}
				]
			});
		});
	</script>

	<!-- slider of content -->
	<script src="js/slick.min.js"></script>
	<script>
		$(".content-slider").slick({
			dots: true,
			infinite: true,
			slidesToShow: 1,
			slidesToScroll: 1,
			//autoplay: true,
			//autoplaySpeed: 3000,
			arrows: true
		});
	</script>

	<!-- slider 4 -->
	<script>
		$(document).ready(function(){
			var initialValue = 20;

			var sliderTooltip = function(event, ui) {
				var curValue = ui.value || initialValue;
				var tooltip = '<div class="tooltips"><div class="tooltips-inner">' + curValue + ' %</div></div>';

				$('.ui-slider-handle').html(tooltip);

			}

			$("#slider4").slider({
				value: initialValue,
				min: 1,
				max: 100,
				step: 1,
				create: sliderTooltip,
				slide: sliderTooltip
			});

			$( "#slider4" ).slider( "disable" );
		});
	</script>

	<!-- slider 5 -->
	<script>
		$(document).ready(function(){
			var initialValue = 20;

			var sliderTooltip = function(event, ui) {
				var curValue = ui.value || initialValue;
				var tooltip = '<div class="tooltips"><div class="tooltips-inner">' + curValue + ' %</div></div>';

				$('.ui-slider-handle').html(tooltip);

			}

			$("#slider5").slider({
				value: initialValue,
				min: 1,
				max: 100,
				step: 1,
				create: sliderTooltip,
				slide: sliderTooltip
			});

			$( "#slider5" ).slider( "disable" );
		});
	</script>

	<!-- slider 6 -->
	<script>
		$(document).ready(function(){
			var initialValue = 25;

			var sliderTooltip = function(event, ui) {
				var curValue = ui.value || initialValue;
				var tooltip = '<div class="tooltips"><div class="tooltips-inner">' + curValue + '</div></div>';

				$('.ui-slider-handle').html(tooltip);

			}

			$("#slider6").slider({
				value: initialValue,
				min: 1,
				max: 100,
				step: 1,
				create: sliderTooltip,
				slide: sliderTooltip
			});
		});
	</script>
	<!-- toggle reply option -->
	<script>
		$(document).ready(function(){
			$('.slide-down').click(function(){
				$(this).parent().next().slideDown();
			});

			$('.slide-up').click(function(){
				$(this).parent().parent().slideUp();
			});

		/* *************** Search filters ******************** */
			$('#settings-search').click(function(){
				$(this).parent().parent().parent().fadeOut('fast');
				$('.toggle-advance-search').fadeIn('slow');
			});

			$('#settings-advance-search').click(function(){
				$(this).parent().parent().parent().fadeOut('fast');
				$('.toggle-search').fadeIn('slow');
			});

		});

	</script>
</body>
</html>
