<div class="eighth-page">
<div class="container messages-box ">
  <div class="row">
    <div class="col-md-4 messages-box-previews">
      <div id="scrollbar" rm-scroll class="scrollbar-content-2">
        <a ng-repeat="room in rooms track by $index"  ng-click="getRoomChat(room.id)">
          <div class="message-preview">
            <div class="col-sm-4 photo">
              <div class="roomMsg">

                <img class="img-responsive message-preview-photo"
                     onerror="this.src = 'img/man-profile-icon.png'"
                     ng-src="{{room.participate.avatar || 'img/man-profile-icon.png'}}" alt="message preview photo 1">
              </div>
             </div>
            <div class="col-sm-6 main">
              <p class="message-preview-name">{{room.participate.name}}</p>
              <p class="message-preview-status">{{ msgTimeFilter(room.messages.created_at.date)}}</p>
            </div>
            <div class="col-sm-1 info" ng-show="room.unread_messages > 0">
              <div class="message-qty">
                <img src="img/message-qty-bg.png" alt="message qty bg">
                <span class="">{{ room.unread_messages }}</span>
              </div>
            </div>
          </div>
          <hr>
        </a>




      </div>
    </div>
    <div class="col-md-8 messages-box-main-window">
      <h5 class="discussion-with">Discussion avec {{ recipient.name }}</h5>
      <rm-loader type="'inner'" ng-hide="messages.length > 0"></rm-loader>
      <div class="message-list-box" rm-scroll scroll-to="'bottom'">

        <div class="message fx-bounce-normal fx-dur-825 fx-ease-back fx-stagger-117" ng-repeat="message in messages track by $index">
          <a ng-show="message.user_id !== AUTHUSER.userID()"><img class="message-photo" ng-src="{{ recipient.avatar || 'img/man-profile-icon.png' }}" onerror="this.src = 'img/man-profile-icon.png'" alt="message photo 1"></a>
          <a ng-show="message.user_id == AUTHUSER.userID()"><img class="message-photo" ng-src="{{ AUTHUSER.avatar() || 'img/man-profile-icon.png' }}" onerror="this.src = 'img/man-profile-icon.png'" alt="message photo 1"></a>
          <p class="online-status"><img src="img/message-time-icon.png" alt="message time icon">{{msgTimeFilter(message.created_at.date)}}</p>
          <p class="message-text chatingBox in" ng-class="{'myMessage':message.user_id == AUTHUSER.userID()}" ng-bind-html="message.body | twemoji"></p>
          <div class="message-menu">
            <ul>
              <li><a href="#">Voir le profil</a></li>
              <li><a href="#">Bloquer</a></li>
              <li><a href="#">Signaler</a></li>
            </ul>
            <span class="close">x</span>
            <span class="tr"></span>
          </div>
        </div>
      </div>

      <!--<h2 class="textarea-title"><img src="img/write-gray-icon.png" alt="write gray icon">Envoyer un message</h2>-->
      <textarea class="emojiTxt"  rm-emoji-box  ng-model="data.body"></textarea>
      <div class="operation-box">
        <div class="col-lg-3">
          <a  ng-click="openSmileBox()"><img src="img/smile-icon.png" alt="smile icon"></a>
          <!--<a href="#"><img src="img/photo-camera-icon.png" alt="photo camera icon"></a>-->
          <!--<a href="#"><img src="img/video-camera-icon.png" alt="video camera icon"></a>-->
          <a id="attachFileBtn"><img src="img/attachment-icon.png" alt="attachment icon"></a>
          <div class="dropzone hidden" id="chatDropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>

        </div>
        <div class="col-lg-4">
          <a ng-click="blockUser(recipient.id)"><img src="img/block-icon.png" alt="block icon">Bloquer {{ recipient.name }}</a>
        </div>
        <div class="col-lg-5">
          <a href="#"><img src="img/garbage-icon.png" alt="garbage icon">Supprimer cette conversation</a>
        </div>
      </div>
      <button class="sendMsgBtn"  ng-click="sendFromRoom(recipient.id,$event)">Envoyer <img ng-show="sendingMsg" class="pull-right" width="35" src="https://werrx.com/images/load.gif" alt=""></button>
    </div>
  </div>
</div>
</div>
