@font-face {
    font-family: 'custom-font1';
    src: url(../font/UniversalDoomsday.ttf);
}
@font-face {
    font-family: 'custom-font2';
    src: url(../font/UniversalDoomsdayBold.ttf);
}
@font-face {
    font-family: 'custom-font3';
    src: url(../font/UniversalDoomsdayBoldItalic.ttf);
}
@font-face {
    font-family: 'custom-font4';
    src: url(../font/UniversalDoomsdayItalic.ttf);
}
@font-face {
    font-family: 'custom-font5';
    src: url(../font/UniversalDoomsdayLightItalic.ttf);
}
@font-face {
    font-family: 'custom-font6';
    src: url(../font/UniversalDoomsdayMedium.ttf);
}
@font-face {
    font-family: 'custom-font7';
    src: url(../font/RelayBold.ttf);
}
@font-face {
    font-family: 'custom-font8';
    src: url(../font/BwModelicaSS01-BoldExpanded.ttf);
}
@font-face {
    font-family: 'custom-font9';
    src: url(../font/BwModelicaSS01-MediumExpanded.ttf);
}
@font-face {
    font-family: 'custom-font10';
    src: url(../font/BwModelicaSS01-RegularExpanded.ttf);
}
