body {
    font-family: custom-font1;
    background: rgba(255, 255, 255, 0.5); /* applies a 50% transparent white background */
    color: #5f636a;
    min-width: 300px;
    background-position: center center;



}

.main-container {
    perspective: 1px;

    margin: 0;
    padding: 0;
    -webkit-perspective: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}

html {
    height: 100%;
    overflow: hidden;
}


section.header {
    padding-bottom: 50px;
    padding-top: 0px;
    position: relative;

    -webkit-transform-style: inherit;
    transform-style: inherit;
}

section.header:before {

    background-image: url(../img/tite-togni-mustang-Nepal-trail-running.jpg);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -500px;
    display: block;
    height:950px;
    opacity: 1;
    background-size: cover;
    -webkit-transform-origin: center center 0;
    -webkit-transform: translateZ(-1px) scale(2);
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);

}

.content {
    background-color: white;
}

.page-header {
    border-bottom: none;
    margin: 0;
}

.page-header > div {
    text-align: center;

}

div.logo {
    padding-top: 90px;
    text-align: center;
}

.logo img {
    width: 124px;;
    height: 104px;
    z-index: 100;
    opacity: 0.9;
}

@media (min-width: 1200px) {
    .container {
        width: 1370px;
    }
}

.header-title.container {
    margin-top: 30px;
    opacity: 0.9;
}

.header-title h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;
    opacity: 0.9;
}

.header-icon2 {
    padding-top: 70px;
    opacity: 0.9;
}

.header-icon2 img {
opacity: 0.9;
}

paert1 {
    position: relative;
}

.part1:after {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #dfdfdf;
    content: '';
    right: 0;
    top: 40%;
      opacity: 0.9;
}

.part-description {
    margin-bottom: 30px;
      opacity: 0.9;
}

.header-description h2 {
    color: white;
    font-weight: normal;
    font-size: 25px;
      opacity: 0.9;
}

.main-content div.row > div {
    text-align: center;
    padding: 50px;
    background-color: white;
    min-height:245px;
}

section.content {
    position: relative;
}

.content .part-title h2 {
    font-weight: bold;
    line-height: 30px;
}

.content .part-description h2 {
    width: 60%;
    margin: auto;
    line-height: 40px;
}

.part-container:first-child {

}

.modal1 .modal-image {
    top: 17px;
}

.modal-button {
    background-color: red;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 70%;
    margin-top: 30px;
    margin: auto;
}

.modal-button p {
    padding-left: 50px;
    width: 100% !important;
}

.footer-section {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 700px;
    position: relative;
    z-index:1;
}

.footer-image {
    position: absolute;
    bottom: 100px;
    text-align: center;
    left: 50%;
    margin-left: -78px;
}

.footer-image img {

}

.modal-image {
    position: absolute;
    top: 10px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 23px;
}

#modal1 .modal-image {
    top: 17px;
}

.modal-title {
    font-size: 20px;
    display: inline-block;
    color: white;
}

.modal-title-container {
    background-color: red;
    padding: 20px;
    text-align: center;
    position: relative;

}

.modal-container {
    width: 1000px;
    margin: auto;
}

.custom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 240px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #F1F4F5; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
    perspective: 1px!important;

}

.modal-container {
    background-color: white;
}

div.modal-body {
    width: 65%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

div.modal-body > div {
    margin: 20px;
    background-color: #f1f5f7;
    position: relative;

}

div.modal-body > div:nth-child(1) img {
    position: absolute;
    top: 17px;
    left: 14.5px;
}

div.modal-body > div:nth-child(2) img {
    position: absolute;
    left: 10px;
    top: 13px;
}

div.modal-body > div:nth-child(3) img {
    position: absolute;
    left: 15px;
    top: 20px;
}

div.modal-body > div:nth-child(4) img {
    position: absolute;
    left: 17px;
    top: 20px;
}

div.modal-body > div input {
    text-align: center;
    width: 100%;
    height: 60px;
    font-size: 17px;
}

div.modal-body button {
    width: 100%;
    text-align: center;
    height: 65px;
    font-size: 18px;
    background-color: #70bf41;
    color: white;
    border: none;
}

@media screen and (max-width: 1100px) {
    .header-title h1 {
        font-size: 40px!important;
        line-height: 40px;
    }

    .header-title.container {
        margin-top: 100px;
        font-size:70px;
    }

    .header-description h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .modal-container {
        width: 90%;
    }
}

@media screen and (max-width: 690px) {
    div.modal-body {
        width: 100%;
    }
}
