#root {
  position: relative;
}

a {
  cursor: pointer !important;
}

.wrapper {
  overflow-x: hidden;
}

.input-error input {
  border-color: #ff553a !important;
}

.input-error ::-webkit-input-placeholder {
  color: #ff553a;
}

.input-error img  {-webkit-filter: grayscale(100%); filter: grayscale(100%);}


.input-error .text-danger {
  margin-top: 12px;
  color: #ff553a;
}

.input-error label,.input-error {
  color: #d65337 !important;
}

.md-datepicker-input-container {
  width: 100%;
}

.input-box .md-button.md-icon-button {
  position: absolute;
  top:5px
}


.input-box .md-button.md-icon-button md-icon {
  height: 33px;
  width: 32px;
}

.input-box .md-icon-button + .md-datepicker-input-container {
  border: none;
  margin-left: 0;
}

.input-box .md-datepicker-triangle-button {
  right: 10px;
  bottom: 4.5px;
}

.md-datepicker-calendar-pane {
  background: #ffffff;
}

.space-20 {
  margin-bottom: 20px;
}


.run-divider {
  width: 80%;
  height: 1px;
  background: gainsboro;
  margin: 11px auto;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: transparent;
}

.blured {
  filter: blur(6px) brightness(70%);
  -webkit-filter: blur(6px) brightness(70%);
  transition: 0.2s;
  transition-delay: 0.2s;
  filter: "progid:DXImageTransform.Microsoft.Wave(freq=112, lightStrength=110, strength=0, add=18) progid:DXImageTransform.Microsoft.Blur(pixelradius=0, enabled='true')   progid:DXImageTransform.Microsoft.Blur(pixelradius=5, enabled='true')    progid:DXImageTransform.Microsoft.Alpha(opacity=34, finishopacity=10, style=2)";
}

.bluredV2 {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: 0.2s;
  transition-delay: 0.2s;
  filter: "progid:DXImageTransform.Microsoft.Wave(freq=112, lightStrength=110, strength=0, add=18) progid:DXImageTransform.Microsoft.Blur(pixelradius=0, enabled='true')   progid:DXImageTransform.Microsoft.Blur(pixelradius=5, enabled='true')    progid:DXImageTransform.Microsoft.Alpha(opacity=34, finishopacity=10, style=2)";

}

.bluredV3 {
  filter: blur(10px) brightness(77%);;
  -webkit-filter: blur(10px) brightness(77%);;
  transition: 0.2s;
  transition-delay: 0.2s;
  filter: "progid:DXImageTransform.Microsoft.Wave(freq=112, lightStrength=110, strength=0, add=18) progid:DXImageTransform.Microsoft.Blur(pixelradius=0, enabled='true')   progid:DXImageTransform.Microsoft.Blur(pixelradius=5, enabled='true')    progid:DXImageTransform.Microsoft.Alpha(opacity=34, finishopacity=10, style=2)";

}

.not-blured {
  filter: blur(0);
  -webkit-filter: blur(0);
}



.popup-wrapper {
  margin-top: 50px;
  text-align: center;
  background: white;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 23px;
}

.popup-wrapper .popup-icon {
  font-size: 45px;
  color: #ff3a3f;
}

.profile-image > img {
  border-radius: 50%;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(139, 148, 153, 0.4);
}

/*** Google place autocomplate ****/

.pac-container {
  border-radius: 25px !important;
  padding-left: 5px;
  padding-top: 10px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(139, 148, 153, 0.4),0 7px 10px -5px rgba(139, 148, 153, 0.4);
}

.pac-container:after {
  background-image: none !important;
}


.ngdialog.ngdialog-theme-default .ngdialog-close {
 background: transparent;
  border: none;
}


.ngdialog.ngdialog-theme-default {
  padding-top: 58px;
}


/* Dropzone */
#root .dropzone .dz-preview .dz-image {
  border-radius: 50%;
  width: 230px;
  height: 230px;
}

#root .dropzone {
  border: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#root .dropzone .dz-preview .dz-image img {
  width: 100%;
  height: 100%;
}

#root .dropzone .dz-preview .dz-remove {
  position: absolute;
  top: 11px;
  right: 17px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #b1acac;
  z-index: 555;
  background: white;
  font-size: 25px;
  box-shadow: 0 0 0 5px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: #999999;
  text-decoration: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}


.twenty-sixth-page .md-datepicker-triangle-button {
  display: none;
}


.twenty-sixth-page .md-datepicker-input-container {
  border:none;
}


#runPreviewWin {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}

.fullWith {
  width: 100%;
}


.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.profile-img > img {
  width: 100%;
  height: 100%;
}

#root .distance-slider {
  border:none;
  padding: 5px;
}

#slider6 {
  margin: 12px auto 0;
}

.rzslider .rz-pointer {
  background: rgb(75, 197, 136);
}

.rzslider[disabled] .rz-pointer {
  background: rgb(75, 197, 136);
}

.search-filter .rzslider .rz-pointer {
  background: red;
  outline: none;
}

.floating-btn {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(139, 148, 153, 0.4),0 7px 10px -5px rgba(139, 148, 153, 0.4);
  background: #16c840;
  transition: box-shadow .3s;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-btn:hover {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.31), 0 7px 10px -5px rgba(139, 148, 153, 0.5),0 7px 10px -5px rgba(139, 148, 153, 0.4);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .click-button input[type=checkbox].css-checkbox + label.css-label {
  height: 35px !important;
}

.click-button input[type=checkbox].css-checkbox:checked + label.css-label {
  background-image: none;
}



#root  input[type=checkbox].css-checkbox + label.css-label {
  background-position: 0 0;
  height: 28px;
}

#root  input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -28px;
}

.twenty-second-page .run-icon, .sixth-page .run-icon {
  overflow: hidden;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.twenty-second-page .run-icon  > a, .sixth-page .run-icon  > a, .twenty-second-page .run-icon  img, .sixth-page .run-icon  img {
  height: 100%;
  width: auto;
}


.twenty-second-page  .input-error {
  border-color: #d65337 !important;
}


.search-filter .filter-calendar img {
  display: inline-block;
}

.search-filter .filter-calendar md-datepicker {
  display: inline-block;
}

.search-filter .filter-calendar .md-datepicker-input-container {
  border: none;
}


.btn.add-btn {
  border-radius: 35px;
  background-color: #5843de;
  outline: none;
}

.btn.add-btn:hover {
  background-color: #462fd8;
}

.btn.add-btn > img {
  margin-right: 10px;
}


.thirty-eighth-page .input-box md-datepicker button {
  margin: 0 !important;
  background: transparent !important;
}


.thirty-eighth-page .input-box md-datepicker button md-icon {
  display: none;
}


.content-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}


a[data-fancybox] {
  display: inline-block !important;
}


.sixth-page .reviews .profile-box .img-profile {
  width: 93px;
  height: 93px;
  border-radius: 50%;
  overflow: hidden;
}

.sixth-page .reviews .profile-box .user-level-badge {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
}


.md-datepicker-triangle-button.md-button.md-icon-button {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 8px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(0);
}

md-datepicker + .remove-btn {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translate(-50%,-70%);
  color: #999999;
}


.run-gallery {
  margin-top: 20px;
}

.gallery-item {
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 2px 15px lightgrey;
  margin-bottom: 15px;
}


.gallery-item img {
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}


.angucomplete-dropdown {
  width: 100%;
}


input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.run-icon > a {
  width: 120px !important;
  height: 120px !important;
  border-radius: 50%;
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  background: #f5f5ff;
}


.run-icon > a > img {
  height: 100%;
  transform: scale(1.3);
}

#landing-btn {
  position: fixed;
  left: 0;
  top: 50%;
  transition: transform .4s;
  transform: translate(-75px,-50%);
  border: none;
  will-change: auto;
  border-radius: 0 35px 35px 0;
  padding: 3px 3px 3px 11px;
  box-shadow: 6px 3px 25px rgba(169, 169, 169, 0.56)
}

#landing-btn:hover {
  transform: translate(0px,-50%);
  box-shadow: none;
}

.activeRequest {
  cursor: default;
  opacity: .8;
}


.nt-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(132, 132, 132, 0.64);
}

.no-margin {
  margin: 0 !important;
}

md-menu-item {
  min-height: 100px !important;
  margin-bottom: 18px;
}

.pointer {
 cursor: pointer;
}

.popup-contant {
  background: #ffffff;
  box-shadow: 0 3px 15px #9e9e9e;
  border-radius: 8px;
}

.eighth-page .messages-box .messages-box-main-window textarea + .emojionearea, .eighth-page .messages-box .messages-box-main-window textarea + .emojionearea.form-control {
  font-family: RelayRegular;
  font-size: 21px;
  color: #888;
  background-color: #f6f6f6;
  height: 200px;
  border: none;
  resize: none;
  outline: none;
  border-radius: 25px !important;
}

.emojionearea .emojionearea-filters {
  border-radius: 0 0 25px 25px !important;
}

.disabled {
  opacity: .7;
  pointer-events: none;
  cursor: default;
}


.myMessage.message-text {
  background-color: #fc1a1a !important;
}


.roomMsg {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.roomMsg > img {
  height: 100%;
  width: 100%;
}

.msgImg {
  width: 250px;
  display: inline-block;
}

.small-img-circle {
  overflow: hidden;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}


.chatingBox .msgImg img {
  max-width: 100%;
  width:100%
}

.chatingBox .emoji {
  margin-right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  background: none;
}


.message-list-box {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.sendMsgBtn .material-icons {
  transition: infinite;
  animation: rotate-infinite;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.shake-error {
  box-shadow: 0 0px 0px 2px red !important;
  -webkit-animation: shake .5s linear;
  transition: all .5s;
}
/* also need keyframes and -moz-keyframes */
@-webkit-keyframes shake {
  8%, 41% {
    -webkit-transform: translateX(-10px);
  }
  25%, 58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%, 100% {
    -webkit-transform: translateX(0);
  }
}
#course-map{
  height: 350px;
  width:100%;
}

.distance-slider .rzslider {
  display: block;
}

.bold {
  font-weight: 900;
}


#addArticle md-tabs-canvas {
  display: flex;
  justify-content: center;
}

#addArticle md-pagination-wrapper {
  position: relative;
}

#addArticle .dropzone {
  background: transparent;
}

#addArticle .dropzone .dz-preview.dz-image-preview {
  background: transparent;
}

#addArticle md-tab-content > div {
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid lightgray;
}

#addArticle md-tabs[md-border-bottom] md-tabs-wrapper {
  border-style: none;
}

.articles-types {
  display: flex;
  justify-content: center;
}


.articles-types .btn {
  border-radius: 30px;
  padding: 15px;
  flex: 0 1 29%;
  background: #42de6a;
}

.articles-types .btn.active {
  background: #298a41;
  box-shadow: inset 0 0 20px #1c452f;
}

.btn, .btn input {
  outline: none !important;

}


.remove-clr {
  color: #ff3a3f;
}


.twenty-sixth-page .cat-select select, .twenty-sixth-page .cat-select  {
  margin-bottom: inherit;
}

.twenty-sixth-page .cat-select select {
  padding-left: 61px;
}

.twenty-sixth-page .cat-select > div {
  /*font-family: BwModelicaSS01-MediumExpanded;*/
  /*font-size: 15px;*/
  /*color: #7d7d7d;*/
  /*height: 55px;*/
  /*padding-left: 35px;*/
  /*outline: none;*/
  /*border: 2px solid #cacaca;*/
  /*border-radius: 45px;*/
  /*margin: 25px 0;*/
}


.rm-title-box {
  background: red;
  display: inline-block;
  padding: 12px 20px;
  margin-bottom: 14px;
  border-radius: 25px;
  color: #fff;
}


.fc-listMonth-view {
  border:none;
}

.fc-listMonth-view .fc-widget-header {
  display: none;
}

.text-box textarea {
  height: initial;
}

.text-box .sendMsgBtn {
  font-family: RelayRegular;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 55px;
  background-color: #16c840;
  outline: none;
  border: none;
  border-radius: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
}


.sixth-page .reviews {
  margin-bottom: 50px;
}

.sixth-page .reviews:hover .removeBtn {
  right: 0;
  opacity: 1;
}

.sixth-page  .removeBtn {
  position: absolute;
  transition: all .3s;
  right: -30px;
  opacity: 0;
  top: 0;
  color: red;
  font-size: 18px;
}


/*****************
  Hotels popup
*************** */


.roomBlock {
  margin-bottom: 30px;
}

.roomCount {
  padding: 30px;
  color: #ffffff;
  background: darkgray;
  font-size: 35px;
}

.roomBlock .hotelImg {
  position: relative;
}

.roomBlock .hotelImg b {
  position: absolute;
  bottom: 24px;
  font-size: 30px;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 2px 10px #7b3232;
  width: 100%;
}

.roomDesc {
  white-space: pre;
  overflow: hidden;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  padding: 13px;
  /*box-shadow: 0 2px 10px darkgrey;*/
  border-radius: 4px;
  transform: translateY(14px);
  background: #e6e6e6;
}

.roomBlock .btn-success {
  background-color: #3bc73b;
  border-color: #4ac74a;
  padding: 8px;
  transform: translateY(-19px);
  box-shadow: 0 2px 10px #9c9c9c;
}

.roomBlock img {
  border-radius: 50%;
  box-shadow: 0 -2px 10px #b9b9b9;
  margin: auto;
}

.priceList {
  background: #3a78d6;
  padding: 7px;
  border-radius: 4px;
  color: #fff;
}

.hotelImg .roomsCount {
  bottom: initial;
  top: 13px;
  font-size: 22px !important;
}
