<div class="twenty-sixth-page">
<h1>AJOUTER UNE COURSE</h1>
<div class="steps">
  <img class="img-responsive" src="img/step-1.png" alt="step 1">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 organizer">
      <input type="checkbox" id="checkbox7" class="css-checkbox" checked>
      <label for="checkbox7" name="checkbox" class="css-label checkbox">Je suis l’organisateur de cette course</label>
    </div>
    <div class="col-md-5">
      <p class="avantages"><u>Découvrez les avantages du status organisateur</u></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1" ng-class="{'input-error':errors.name[0]}">
      <input type="text" ng-model="data.name" placeholder="Nom officiel de la course">
    </div>
    <div class="col-md-5 col-md-offset-1" ng-class="{'input-error':errors.start_at[0]}" >
      <md-datepicker ng-model="data.start_at" id="datepicker" md-placeholder="Début de la course" md-open-on-focus></md-datepicker>
    </div>
    <div class="col-md-5"  ng-class="{'input-error':errors.end_at[0]}">
      <md-datepicker ng-model="data.end_at" id="datepsicker" md-placeholder="Fin de la course" md-open-on-focus></md-datepicker>
    </div>
    <div class="col-md-10 col-md-offset-1" >
      <textarea ng-model="data.description" placeholder="Description de la course"></textarea>
    </div>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1" ng-class="{'input-error':errors.location[0]}">
      <input type="text" ng-model="geo.address" g-places-autocomplete placeholder="Localisation">
    </div>
  </div>


  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="format-box">
        <div class="col-md-3">
          <input type="text" placeholder="Types d’épreuves">
        </div>
        <div class="col-md-9 format-buttons-box">
          <div class="click-button" ng-repeat="pract_type in systemTypes.practicing_types">
            <input type="checkbox" id="src_format -  {{ pract_type.id }}" checklist-model="chekedDatas.practicing_types" checklist-value="pract_type.id "  class="css-checkbox">
            <label for="src_format -  {{ pract_type.id }}" name="src_format -  {{ pract_type.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon"> {{ pract_type.name }}</span></label>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="format-box">
        <div class="col-md-3">
          <input type="text" placeholder="Formats proposés">
        </div>
        <div class="col-md-9 format-buttons-box">
          <div class="click-button" ng-repeat="course_format in systemTypes.course_formats">
            <input type="checkbox" id="course_format -  {{ course_format.id }}" checklist-model="chekedDatas.course_formats" checklist-value="course_format.id " class="css-checkbox" >
            <label for="course_format -  {{ course_format.id }}" name="course_format -  {{ course_format.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">{{ course_format.name }}</span></label>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button class="next-button" ng-click="nextStep('second')"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">SUIVANT</button>
</div>
</div>
