<main class="sixth-page">
  <div class="container">
    <div class="row">
      <div class="col-md-1 run-icon">
        <img class="img-responsive" src="img/run-icon.png" alt="run icon">
      </div>
      <div class="col-md-11 event">
        <div class="col-md-6 event-description">
          <h1>{{ data.name }}</h1>

          <div class="row event-detail">
            <div class="places col-md-5 col-sm-5 col-sm-offset-2 col-md-offset-0 col-xs-12">
              <p class="event-publication-date"> Postée le  {{ currentDate }}</p>
              <p class="event-publication-author">{{ AUTHUSER.name() }}</p>
            </div>
            <div class="buttons col-md-7  col-sm-5 col-xs-12">
              <button ng-repeat="prType in data.practicing_types">{{ systemTypes.practicing_types[prType].name }}</button>

            </div>
          </div>
          <p class="event-place"><img src="img/event-place-icon.png" alt="event place icon">{{ geo.address.formatted_address }}</p>
          <p class="event-date"><img src="img/event-clock-icon.png" alt="event clock icon">{{formatRangeDate(data.start_at,data.end_at)}}</p>
          <div class="revision-meteo row text-xs-center text-sm-left">
            <div class="col-md-12"><h1>PREVISION METEO</h1></div>
            <div class=" col-xs-12">
              <img src="img/sun.png" alt="sun icon" class="responsive">
              <span class="degree"> 22 &#x2103;</span>
            </div>
            <div class="col-xs-12"><p class="clear-both"> ensoleillé</p> </div>
          </div>
          <!-- <div class="revision-meteo">
                            <h1>PREVISION METEO</h1>
                            <img src="img/sun.png" alt="sun icon" class="">
                            <p class="degree pull-left"> 22 &#x2103;</p>
                            <p class="clear-both"> ensoleillé</p>

                        </div>
                        <div class="buttons">
                            <button class="route">Route</button>
                            <button class="trail">Trail</button>
                        </div>  -->
        </div>
        <div class="col-md-5 col-md-offset-1 event-participants">
          <h1>PARTICIPATIONS</h1>
          <h3>No info</h3>
        </div>
      </div>
      <div class="col-md-11 col-md-offset-1 about-race">
        <h1>A PROPOS DE LA COURSE</h1>
        <hr>
        <p>{{data.description}}</p>
      </div>


      <div class="col-md-11 col-md-offset-1 courses">
        <h1>PARCOURS & DENIVELE</h1>
        <hr>
        <img class="img-responsive" src="img/map.jpg" alt="map">
      </div>


    </div>
    <div class="fullWith text-center">
      <button class="btn btn-info btn-lg" ng-click="previewMode(false)">PRECEDENT</button>
    </div>

  </div>
</main>
