<div class="twenty-eighth-page">
<h1>AJOUTER UNE COURSE</h1>
<div class="steps">
  <img class="img-responsive" src="img/step-2.png" alt="step 2">
</div>
<div class="container">
  <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1">
    <h3>Emplacement sur la carte</h3>
  </div>
  <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
    <button class="add-photo" style="width:320px" id="uploadGpx" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="img/add-photo-icon.png" alt="add photo icon">Importer une map(GPX)</button>

  </div>
  <div class="col-md-12 map">
    <div course-map-directive toggle-btn="'uploadGpx'" id="course-map" geodata="geo" edit="true" start="start" data="data"></div>
    <!--<img class="img-responsive" src="img/map.jpg" alt="map">-->
  </div>
  <div class="clearfix"></div>
  <div class="col-md-8 col-md-offset-2">
  <h2 class="distance-text">Distance totale</h2>
  <div class="distance-slider">
    <rzslider
      rz-slider-model="distanceSlider.value"
      rz-slider-options="distanceSlider.options"></rzslider>
  </div>
  </div>
  <div class="col-md-4 col-md-offset-2">
    <button class="next-button" ng-click="nextStep('first')"><img class="rotate-180" src="img/arrow-form-button-icon.png" alt="arrow form button icon">PRECEDENT</button>

  </div>
  <div class="col-md-4">
    <button class="next-button" ng-click="nextStep('third')"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">SUIVANT</button>
  </div>
</div>
</div>
