<div class="twenty-ninth-page">
  <h1>ECRIRE UN AVIS</h1>
  <div class="steps">
    <img class="img-responsive" src="img/step-3.png" alt="step 3">
  </div>
  <div class="container">
    <div class="row form">
      <div class="col-md-6" >
        <input type="text" placeholder="N° de téléphone de l’organisateur">
      </div>
      <div class="col-md-6" ng-class="{'input-error':errors.organizer_email[0]}" >
        <input type="text" ng-model="data.organizer_email" placeholder="Email de l’organisateur">
      </div>
      <div class="col-md-12">
        <input type="text" ng-model="data.site" placeholder="Site internet de l’épreuve">
      </div>
      <div class="col-md-6" ng-if="userType == 2">
        <input type="text" ng-model="data.registration_fee" placeholder="Tarif de l’inscription">
      </div>
      <div class="col-md-6" ng-model="data.participants_number" >
        <input type="text" ng-model="data.participants_number" placeholder="Nombre de participants">
      </div>
    </div>
    <div class="row add-photo">
      <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1">
        <p>Ajouter des photos de la course</p>
      </div>
      <div class="col-lg-4 col-md-5">
        <button id="selectRunPhotos" ><img src="img/add-photo-icon.png" alt="add photo icon">AJOUTER UNE PHOTO</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 photos">
        <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
      </div>
    </div>
    <div class="row" style="height:150px">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" ng-class="{'input-error':errors.license_agreement[0]}">
        <input type="checkbox" id="license" ng-model="data.license_agreement" class="css-checkbox"  ng-true-value="'true'" ng-false-value="'false'">
        <label for="license"  name="license" class="css-label checkbox">J’atteste que cet avis est le reflet d’une expérience personnelle et représente mon propre sentiment sur cette épreuve de course à pied, que je n’ai aucun lien ni intérêt personnel ou professionnel dans l’organisme organisateur de l’évènement et que j’ai écris cet avis sans recevoir et sans la perspectives de toucher une indemnisation. Je comprends la politique de tolérance 0 appliquée par RunMoov à propos des faux avis. </label>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-md-12">
        <button class="first-button" ng-click="previewMode(true)"><img src="img/button-eye-icon.png" alt="button eye icon">APERCU DE LA COURSE</button>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <button class="second-button"  ng-click="nextStep('second')"><img class="rotate-180" src="img/arrow-form-button-icon.png" alt="arrow form button icon">PRECEDENT</button>
      </div>
      <div class="col-md-4">
        <button class="second-button" ng-click="saveRun()"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">PUBLIER LA COURSE</button>
      </div>
    </div>


  </div>
</div>
