<div class="eighth-page">
  <div class="container messages-box ">
    <div class="row">

      <div class="col-md-offset-2 popup-contant  col-md-8 messages-box-main-window">
        <h5 class="discussion-with"></h5>
        <h2 class="textarea-title"><img src="img/write-gray-icon.png" alt="write gray icon">Envoyer un message</h2>
        <textarea class="chatBody emojiTxt" rm-emoji-box  ng-model="msgData.body"></textarea>
        <div class="operation-box">
          <div class="col-lg-3">
            <a><img src="img/smile-icon.png" alt="smile icon"></a>
            <!--<a href="#"><img src="img/photo-camera-icon.png" alt="photo camera icon"></a>-->
            <!--<a href="#"><img src="img/video-camera-icon.png" alt="video camera icon"></a>-->
            <a ><img src="img/attachment-icon.png" alt="attachment icon"></a>
          </div>
          <div class="col-lg-4">

          </div>
          <div class="col-lg-5">
            <a ><img src="img/garbage-icon.png" alt="garbage icon">Supprimer cette conversation</a>
          </div>
          <button class="sendMsgBtn"  ng-click="sendMessage(msgUserId)">Envoyer <img ng-show="sendingMsg" class="pull-right" width="35" src="https://werrx.com/images/load.gif" alt=""></button>
        </div>

      </div>
    </div>
  </div>
</div>

<script>


</script>
