<div id="hotelRooms" class="popup-wrapper col-md-offset-3 col-md-6">
<h1>{{ hotel.name }}</h1>
  <ul class="list-inline priceList">
    <li><span>Max Price</span>: <span>{{ hotel.maxPrice }}</span> </li>
    <li><span>Min Price</span>: <span>{{ hotel.minPriceTotal }}</span> </li>
    <li><span>Max Price Per Night</span>: <span>{{ hotel.maxPricePerNight }}</span> </li>
  </ul>
  <div class="row">
    <div class="col-sm-4 col-md-3" ng-repeat="room in hotel.rooms">
      <div class="roomBlock">
        <b class="roomDesc">{{ room.desc }}</b>
        <div class="roomOptions hidden">
          <div class="row">
            <div class="col-xs-6">
              <ul>
                <li> WIFI <i class=" hidden fa fa-wifi"></i> <i  class="fa"></i></li>
                <li> Deposit <i class=" hidden fa fa-wifi"></i> <i class="fa fa-check"></i></li>
                <li> Card <i class=" hidden fa fa-wifi"></i> <i class="fa fa-check"></i></li>

              </ul>
            </div>
            <div class="col-xs-6"></div>
          </div>
        </div>
        <div class="hotelImg">
          <b class="text-center roomsCount">x{{ room.options.bedrooms }} </b>
          <img src="http://icon-icons.com/icons2/644/PNG/512/red_single-room_icon-icons.com_59538.png" class="img-responsive" alt="">
          <b class="text-center">{{ room.price }} $</b>
        </div>
        <div class="roomCount hidden">
          <i class="fa fa-bed" aria-hidden="true"></i><br>
          {{ room.options.bedrooms }}
        </div>
        <a class="btn btn-success fullWith" target="_blank" ng-href="{{ room.fullBookingURL }}">
          BOOKING
        </a>

      </div>
    </div>
  </div>


</div>
