<div id="authPage" class="popup-wrapper col-md-offset-4 col-md-4" ng-controller="AuthCtrl">


  <form action="#" class="right-part">
    <div class="input-box email" ng-class="{'input-error':login_errors.email[0]}">
      <img src="img/envelope-button-icon.png" alt="envelope button icon">
      <input type="email" ng-model="credentials.email" placeholder="Email">
      <p class="text-danger">{{login_errors.email[0] ? login_errors.email[0] : ''}}</p>
    </div>
    <div class="input-box password"  ng-class="{'input-error':login_errors.password[0]}">
      <img src="img/locked-button-icon.png" alt="locked button icon">
      <input type="password" ng-model="credentials.password" placeholder="Mot de passe">
      <p class="text-danger">{{login_errors.password[0] ? login_errors.password[0] : ''}}</p>
    </div>
    <p class="text-danger">{{login_errors.error ? login_errors.error : ''}}</p>
    <button class="run-btn" ng-click="$event.preventDefault();login(credentials); "><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">Connexion</button>
    <p><a href="#"><img src="img/arrow-description-icon.png" alt="arrow description icon">J’ai oublié mon mot de passe</a></p>
  </form>
</div>
