<div id="authPage" class="popup-wrapper col-md-offset-4 col-md-4" >


  <form action="#" class="right-part">
    <div class="input-box email" ng-class="{'input-error':errors.old_password[0]}">
      <img src="img/locked-button-icon.png" alt="locked button icon">
      <input type="password" ng-model="pass_data.old_password" placeholder="Old Password">
      <p class="text-danger">{{errors.old_password[0] ? errors.old_password[0] : ''}}</p>
    </div>
    <div class="input-box password"  ng-class="{'input-error':errors.password[0]}">
      <img src="img/locked-button-icon.png" alt="locked button icon">
      <input type="password" ng-model="pass_data.password" placeholder="New Password">
      <p class="text-danger">{{errors.password[0] ? errors.password[0] : ''}}</p>
    </div>
    <div class="input-box password"  ng-class="{'input-error':errors.password[0]}">
      <img src="img/locked-button-icon.png" alt="locked button icon">
      <input type="password" ng-model="pass_data.confirm_password" placeholder="Confirm Password">
      <p class="text-danger">{{errors.password[0] ? errors.password[0] : ''}}</p>
    </div>
    <p class="text-danger">{{login_errors.error ? login_errors.error : ''}}</p>
    <button class="run-btn" ng-click="$event.preventDefault();changeUserPassword(credentials); "><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">Change Password</button>
  </form>
</div>
