<div id="send_mail_block" class="popup-wrapper col-md-offset-4 col-md-4 right-part">


  <span class="popup-icon glyphicon glyphicon-saved"></span>
  <h2>Félicitations, vous êtes membre de RUNMOOV !</h2>
  <h4>Vous pouvez maintenant vous connecter.</h4>
  <button class="run-btn" ng-click="$event.stopPropagation();openPopup('views/popups/login.html'); "><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">Connexion</button>

</div>
