<div id="authPage" class="popup-wrapper col-md-offset-4 col-md-4" ng-controller="AuthCtrl">
{{ authUserData}}

  <form ng-submit="saveUser()">
    <div class="input-box first-name" ng-class="{'input-error':errors.first_name[0]}">
      <img src="img/user-button-icon.png" alt="user button icon">
      <input type="text"  ng-model="data.first_name" placeholder="Prénom">
    </div>
    <div class="input-box last-name" ng-class="{'input-error':errors.last_name[0]}">
      <img src="img/user-button-icon.png" alt="user button icon">
      <input type="text" ng-model="data.last_name" placeholder="Nom">
    </div>
    <div class="input-box email" ng-class="{'input-error':errors.email[0]}">
      <img src="img/envelope-button-icon.png"  alt="envelope button icon">
      <input type="email" ng-model="data.email" placeholder="Email">
    </div>
    <div class="input-box date" ng-class="{'input-error':errors.dob[0]}">
      <md-datepicker ng-model="data.dob" id="datepicker" md-placeholder="Date de naissance" md-open-on-focus></md-datepicker>
      <!--<input type="text" id="datepicker" placeholder="Date de naissance">-->
    </div>
    <div class="input-box city" ng-class="{'input-error':errors.address[0]}">
      <img src="img/place-form-button-icon.png" alt="place form button icon">
      <input type="text" ng-model="address" g-places-autocomplete placeholder="Ville">
    </div>
    <div class="input-box password" ng-class="{'input-error':errors.password[0]}">
      <img src="img/locked-button-icon.png" alt="locked button icon">
      <input type="password"  ng-model="data.password" placeholder="Mot de passe">
    </div>
    <div class="run-checkbox">

      <input type="checkbox" id="checkbox1" ng-model="data.is_subscribed" ng-true-value="'true'" ng-false-value="'false'" class="css-checkbox">
      <label for="checkbox1" name="checkbox" class="css-label checkbox">J’accepte des emails de la part de RUNMOOV et de ses partenaires.</label>
    </div>
    <div class="space-20"></div>
    <div class="run-divider"></div>
    <div class="run-checkbox">
      <input type="checkbox" id="organizer-checkbox" ng-model="data.is_organizer" ng-true-value="2" ng-false-value="1" class="css-checkbox">
      <label for="organizer-checkbox" name="organizer" class="css-label checkbox">Je suis l’organisateur officiel d’une course </label>
    </div>
    <button type="button" class="run-btn" ng-click="saveUser(); $event.stopPropagation();">Valider mon inscription</button>
  </form>
</div>
