<div class="container" id="authPage">
  <div class="row">
    <div class="col-md-6">
      <h1>M’INSCRIRE</h1>
    </div>
    <div class="col-md-6">
      <h1 class="hide-small">M’IDENTIFIER</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-part">
      <form ng-submit="saveUser()">
        <div class="input-box first-name" ng-class="{'input-error':errors.first_name[0]}">
          <img src="img/user-button-icon.png" alt="user button icon">
          <input type="text"  ng-model="data.first_name" placeholder="Prénom">
        </div>
        <div class="input-box last-name" ng-class="{'input-error':errors.last_name[0]}">
          <img src="img/user-button-icon.png" alt="user button icon">
          <input type="text" ng-model="data.last_name" placeholder="Nom">
        </div>
        <div class="input-box email" ng-class="{'input-error':errors.email[0]}">
          <img src="img/envelope-button-icon.png"  alt="envelope button icon">
          <input type="email" ng-model="data.email" placeholder="Email">
        </div>
        <div class="input-box date" ng-class="{'input-error':errors.dob[0]}">
          <md-datepicker ng-model="data.dob" id="datepicker" md-placeholder="Date de naissance" md-open-on-focus></md-datepicker>
          <!--<input type="text" id="datepicker" placeholder="Date de naissance">-->
        </div>
        <div class="input-box city" ng-class="{'input-error':errors.address[0]}">
          <img src="img/place-form-button-icon.png" alt="place form button icon">
          <input type="text" ng-model="address" g-places-autocomplete placeholder="Ville">
        </div>
        <div class="input-box password" ng-class="{'input-error':errors.password[0]}">
          <img src="img/locked-button-icon.png" alt="locked button icon">
          <input type="password"  ng-model="data.password" placeholder="Mot de passe">
        </div>
        <div class="run-checkbox">

          <input type="checkbox" id="email_send" ng-model="data.is_subscribed" ng-true-value="'true'" ng-false-value="'false'" class="css-checkbox">
          <label for="email_send" name="email_send" class="css-label checkbox">J’accepte des emails de la part de RUNMOOV et de ses partenaires.</label>
        </div>
        <div class="space-20"></div>
        <div class="run-divider"></div>
        <div class="run-checkbox">
          <input type="checkbox" id="organizer-checkbox" ng-model="data.is_organizer" ng-true-value="2" ng-false-value="1" class="css-checkbox">
          <label for="organizer-checkbox" name="organizer" class="css-label checkbox">Je suis l’organisateur officiel d’une course </label>
        </div>
        <button type="button" class="run-btn" ng-click="saveUser(); $event.stopPropagation();">Valider mon inscription</button>
      </form>
    </div>

    <div class="col-md-6 right-part">
      <h1 class="hide-big">M’IDENTIFIER</h1>
      <form action="#">
        <div class="input-box email" ng-class="{'input-error':login_errors.email[0]}">
          <img src="img/envelope-button-icon.png" alt="envelope button icon">
          <input type="email" ng-model="credentials.email" placeholder="Email">
          <p class="text-danger">{{login_errors.email[0] ? login_errors.email[0] : ''}}</p>
        </div>
        <div class="input-box password"  ng-class="{'input-error':login_errors.password[0]}">
          <img src="img/locked-button-icon.png" alt="locked button icon">
          <input type="password" ng-model="credentials.password" placeholder="Mot de passe">
          <p class="text-danger">{{login_errors.password[0] ? login_errors.password[0] : ''}}</p>
        </div>
        <p class="text-danger">{{login_errors.error ? login_errors.error : ''}}</p>
        <button class="run-btn" ng-click="$event.preventDefault(); login(credentials)"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">Connexion</button>
        <p><a href="#"><img src="img/arrow-description-icon.png" alt="arrow description icon">J’ai oublié mon mot de passe</a></p>
      </form>
    </div>
  </div>
  <div class="row soc-box">
    <div class="col-md-6">
      <button class="run-btn fb" ng-click="fblogin('log_in');closeAllPopups()" ><img src="img/facebook-button-icon.png" alt="facebook icon button">M'identifier avec facebook</button>
    </div>
    <div class="col-md-6">
      <button class="run-btn tw" ng-click="twLogin('log_in')" ><img src="img/twitter-icon-button.png" alt="twitter icon button">M'identifier avec twitter</button>
    </div>
  </div>
</div>
