<div class="thirtieth-page">
  <!-- MAIN CONTENT -->
  <main>
    <div class="container">
      <h1>MON CALENDRIER</h1>
      <div class="icons">
        <p ng-class="{'active':scheduleView == 'calendar'}"><a ng-click="changeView('calendar')"><img src="img/calendar.png" alt="calendar"><span class="menu-line"></span></a></p>
        <p ng-class="{'active':scheduleView == 'list'}"><a ng-click="changeView('list')"><img src="img/list.png" alt="list"><span class="menu-line"></span></a></p>
      </div>
      <h3><img src="img/first-title-icon.png" alt="first title icon">SUGGESTIONS</h3>
    </div>
    <div class="container">
      <div class="row content-block">

        <div class="col-md-4" ng-repeat="run in list|limitTo:3 track by $index">
          <figure ui-sref="run.profile({id:run.course.id})">
            <div center-crop ratio-width="3" ratio-height="2">
              <img class="thumb-img" ng-src="{{ run.course.course_images[0].url || 'http://suyognisarg.com/media/no_image_available.png' }}" alt="img 1">
            </div>
            <figcaption>
              <button class="top-caption-button"><img src="img/top-button-caption-icon.png" alt="top button caption icon">{{ run.reviews_count }} avis</button>
              <h2>{{ run.course.name }}</h2>
              <div class="rating-after">
                <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">
                <button>{{ run.reviews_count }} avis</button>
              </div>
              <button class="one"><img src="img/clock.png" alt="clock">{{ formatRangeDate(run.start_at, run.end_at) }}</button>
              <button class="two"><img src="img/place.png" alt="place">{{run.course.location}}</button>
              <div class="description">
                <img src="img/info-icon.png" alt="info icon"><p>{{run.course.name}}</p>
                <div class="rating">
                  <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">
                  <button>{{ run.reviews_count }} avis</button>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-4 hidden">
          <figure class="special">
            <img class="thumb-img" src="img/img_2.jpg" alt="img 2">
            <figcaption>
              <div class="special-header">Coup de coeur</div>
              <div class="special-border-top"></div>
              <div class="special-border-right"></div>
              <div class="special-border-bottom"></div>
              <div class="special-border-left"></div>
              <button class="top-caption-button"><img src="img/top-button-caption-icon.png" alt="top button caption icon">233 avis</button>
              <h2>nom de la course<br>(7 km)</h2>
              <div class="rating-after">
                <img src="img/star.png" alt="star">
                <img src="img/star.png" alt="star">
                <img src="img/star.png" alt="star">
                <img src="img/star.png" alt="star">
                <img src="img/star.png" alt="star">
                <button>662 avis</button>
              </div>
              <button class="one"><img src="img/clock.png" alt="clock">du 22 au 27 janvier</button>
              <button class="two"><img src="img/place.png" alt="place">Strasbourg</button>
              <div class="description">
                <p class="special-title">nom de la course (9 km)</p>
                <img src="img/info-icon.png" alt="info icon"><p>nom de la course</p>
                <div class="rating">
                  <img src="img/star.png" alt="star">
                  <img src="img/star.png" alt="star">
                  <img src="img/star.png" alt="star">
                  <img src="img/star.png" alt="star">
                  <img src="img/star.png" alt="star">
                  <button>662 avis</button>
                </div>
              </div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
    <div class="container">
      <div  rm-calendar   ng-if="scheduleView == 'calendar'" class="span8 calendar fx-bounce-left fx-dur-600 fx-ease-none" events="{events}"></div>
      <div class="thirty-first-page">
        <div  rm-calendar view="'listMonth'" ng-if="scheduleView == 'list'" class="span8 calendar fx-bounce-left fx-dur-600 fx-ease-none" events="{events}"></div>

      </div>
    </div>
  </main>
  <!-- MAIN CONTENT end -->
</div>
