<div class="twenty-fifth-page">
  <h1>ECRIRE UN AVIS</h1>
  <div class="steps">
    <img class="img-responsive" src="img/step-3.png" alt="step 3">
  </div>
  <div class="container">
    <img class="img-responsive success" src="img/success.png" alt="success">
    <h3>Félicitations !</h3>
    <p class="text">Votre avis a été soumis à l’équipe RUNMOOV et sera modéré dans les plus brefs délais.<br> Un email de confirmation vous sera envoyé à sa publication.<br> Merci pour contribution.</p>
    <button ui-sref="opinion.main"><img src="img/write-white-icon.png" alt="write white icon">LAISSER UN AUTRE AVIS</button>
  </div>
</div>
