<div class="twenty-second-page">
  <h1>ECRIRE UN AVIS</h1>
  <div class="steps">
    <img class="img-responsive" src="img/step-1.png" alt="step 1">
  </div>
  <div class="container">
    <div class="row event">
      <div class="col-md-6">
        <div class="col-md-3 col-md-offset-1">
          <div class="run-icon">
            <a data-fancybox>
              <img class="img-responsive" ng-src="{{ run.course.course_images[0].url || 'img/run-icon.png' }}" alt="run icon">
            </a>
          </div>
        </div>
        <div class="col-md-8 event-description">
          <h1>{{run.course.name}}</h1>
          <div class="event-rating">
            <img src="img/star.png" alt="star" ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">

            <button>{{ run.reviews_count }} avis</button>
          </div>
          <div class="row event-info">
            <div class="col-md-6">
              <p class="event-publication-date">Postée le {{formatDate(run.created_at.date)}}</p>
              <p class="event-publication-author">{{run.user.first_name + ' ' + run.user.last_name}}</p>
            </div>
            <div class="col-md-5">
              <a href="#"><img src="img/trophy-icon.png" alt="trophy icon"></a>
              <a href="#"><img src="img/email-icon.png" alt="email icon"></a>
            </div>
          </div>
          <p class="event-place"><img src="img/event-place-icon.png" alt="event place icon">{{run.course.location}}</p>
          <p class="event-date"><img src="img/event-clock-icon.png" alt="event clock icon">{{ formatRangeDate(run.start_at, run.end_at) }}</p>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="buttons">
          <button ng-repeat="format in run.course.course_formats">{{format.name}}</button>

        </div>
      </div>
    </div>
    <div class="format-box" ng-class="{'input-error':errors.course_opinion_formats[0]}">
      <div class="col-md-5">
        <input type="text" placeholder="Quel format avez-vous pratiqué ?">
      </div>
      <div class="col-md-7 format-buttons-box" >
        <div class="click-button" ng-repeat="course_format in systemTypes.course_formats">
          <input type="checkbox" id="course_format -  {{ course_format.id }}" checklist-model="chekedDatas.course_formats" checklist-value="course_format.id " class="css-checkbox" >
          <label for="course_format -  {{ course_format.id }}" name="course_format -  {{ course_format.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">{{ course_format.name }}</span></label>
        </div>

      </div>
    </div>
    <input class="review-title" ng-class="{'input-error':errors.title[0]}" ng-model="data.title" type="text" placeholder="Intitulé de votre avis">
    <textarea ng-model="data.body" ng-class="{'input-error':errors.body[0]}" placeholder="Partagez ici votre avis"></textarea>
    <button class="next-button" ng-click="nextStep('second')"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">SUIVANT</button>
  </div>
</div>
