<style>
  /*sprite with stars*/
   .reviewStars-input label, .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
  }

  #reviewStars-input input:checked ~ label,  #reviewStars-input-1 input:checked ~ label,  #reviewStars-input-2 input:checked ~ label,  #reviewStars-input-3 input:checked ~ label,  #reviewStars-input-4 input:checked ~ label,  #reviewStars-input-5 input:checked ~ label {

    /*background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;*/

  }

  .reviewStars-input {

    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    margin-left:10px;
    margin-top:20px;
    /*end of fix floating problems*/

    position: relative;
    float: left;
  }

  .reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;

    width: 43px;
    height: 40px;

    position: absolute;
    top: 0;
    z-index: 0;
  }

  /*#reviewStars-input input:checked ~ label {*/
    /*background-position: 0 -40px;*/
    /*height: 40px;*/
    /*width: 43px;*/
  /*}*/
  #reviewStars-input-0 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }

  #reviewStars-input-1 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  #reviewStars-input-2 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  #reviewStars-input-3 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  #reviewStars-input-4 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  #reviewStars-input-5 input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }

  .left-reviews ul li:last-child input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }

  .reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;

    position: relative;
    z-index: 1;
  }

  .reviewStars-input label:hover, .reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }

  .reviewStars-input #star-0 {
    left: 0px;
  }
  .reviewStars-input #star-1 {
    left: 53px;
  }
  .reviewStars-input #star-2 {
    left: 106px;
  }
  .reviewStars-input #star-3 {
    left: 159px;
  }
  .reviewStars-input #star-4 {
    left: 212px;
  }
  .reviewStars-input #star-5 {
    left: 265px;
  }
</style>
<div class="twenty-third-page">

    <h1>ECRIRE UN AVIS</h1>
    <div class="steps">
      <img class="img-responsive" src="img/step-2.png" alt="step 2">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 left-reviews" style="align:left; text-align:left; margin-left:20px; width:80%">
          <h4>Cliquez pour donner une note</h4>
          <ul>
            <li>


              <fieldset id="reviewStars-input-0"  class="reviewStars-input"  ng-class="{'input-error':errors.parcour_score[0]}">
                Parcours<br/>
                <input id="star-14" type="radio" value="5" ng-model="data.parcour_score"  name="reviewStars-input-0"/>
                <label title="gorgeous" for="star-14"></label>

                <input id="star-13" type="radio" value="4" ng-model="data.parcour_score"  name="reviewStars-input-0"/>
                <label title="good" for="star-13"></label>

                <input id="star-12" type="radio" value="3" ng-model="data.parcour_score"  name="reviewStars-input-0"/>
                <label title="regular" for="star-12"></label>

                <input id="star-11" type="radio" value="2" ng-model="data.parcour_score"  name="reviewStars-input-0"/>
                <label title="poor" for="star-11"></label>

                <input id="star-10" type="radio" value="1" ng-model="data.parcour_score"   name="reviewStars-input-0"/>
                <label title="bad" for="star-10"></label>
              </fieldset>
            </li>
            <li>

              <fieldset id="reviewStars-input-1" class="reviewStars-input"  ng-class="{'input-error':errors.ambiance_score[0]}">
                Ambiance<br/>
                <input id="star-4" type="radio" value="5" ng-model="data.ambiance_score"   name="reviewStars-input-1"/>
                <label title="gorgeous" for="star-4"></label>

                <input id="star-3" type="radio" value="4" ng-model="data.ambiance_score"   name="reviewStars-input-1"/>
                <label title="good" for="star-3"></label>

                <input id="star-2" type="radio" value="3" ng-model="data.ambiance_score"   name="reviewStars-input-1"/>
                <label title="regular" for="star-2"></label>

                <input id="star-1" type="radio" value="2" ng-model="data.ambiance_score"   name="reviewStars-input-1"/>
                <label title="poor" for="star-1"></label>

                <input id="star-0" type="radio" value="1" ng-model="data.ambiance_score"  name="reviewStars-input-1"/>
                <label title="bad" for="star-0"></label>
              </fieldset>
            </li>
            <li>

              <fieldset id="reviewStars-input-2" class="reviewStars-input" ng-class="{'input-error':errors.dotation_score[0]}">
                Dotation<br/>
                <input id="star-24" type="radio" value="5" ng-model="data.dotation_score"  name="reviewStars-input-2"/>
                <label title="gorgeous" for="star-24"></label>

                <input id="star-23" type="radio" value="4" ng-model="data.dotation_score"  name="reviewStars-input-2"/>
                <label title="good" for="star-23"></label>

                <input id="star-22" type="radio" value="3" ng-model="data.dotation_score"  name="reviewStars-input-2"/>
                <label title="regular" for="star-22"></label>

                <input id="star-21" type="radio" value="2" ng-model="data.dotation_score"  name="reviewStars-input-2"/>
                <label title="poor" for="star-21"></label>

                <input id="star-20" type="radio" value="1"  ng-model="data.dotation_score" name="reviewStars-input-2"/>
                <label title="bad" for="star-20"></label>
              </fieldset>
            </li>
            <li>

              <fieldset id="reviewStars-input-3" class="reviewStars-input" ng-class="{'input-error':errors.revitaillement_score[0]}">
                Ravitaillement<br/>
                <input id="star-34" type="radio" value="5" ng-model="data.revitaillement_score" name="reviewStars-input-3"/>
                <label title="gorgeous" for="star-34"></label>

                <input id="star-33" type="radio" value="4" ng-model="data.revitaillement_score" name="reviewStars-input-3"/>
                <label title="good" for="star-33"></label>

                <input id="star-32" type="radio" value="3" ng-model="data.revitaillement_score" name="reviewStars-input-3"/>
                <label title="regular" for="star-32"></label>

                <input id="star-31" type="radio" value="2" ng-model="data.revitaillement_score" name="reviewStars-input-3"/>
                <label title="poor" for="star-31"></label>

                <input id="star-30" type="radio" value="1" ng-model="data.revitaillement_score" name="reviewStars-input-3"/>
                <label title="bad" for="star-30"></label>
              </fieldset>
            </li>
            <li>

              <fieldset id="reviewStars-input-4" class="reviewStars-input" ng-class="{'input-error':errors.organisation_score[0]}">
                Organisation<br/>
                <input id="star-44" type="radio" value="5" ng-model="data.organisation_score" name="reviewStars-input-4"/>
                <label title="gorgeous" for="star-44"></label>

                <input id="star-43" type="radio" value="4" ng-model="data.organisation_score" name="reviewStars-input-4"/>
                <label title="good" for="star-43"></label>

                <input id="star-42" type="radio" value="3" ng-model="data.organisation_score" name="reviewStars-input-4"/>
                <label title="regular" for="star-42"></label>

                <input id="star-41" type="radio" value="2" ng-model="data.organisation_score" name="reviewStars-input-4"/>
                <label title="poor" for="star-41"></label>

                <input id="star-40" type="radio" value="1" ng-model="data.organisation_score" name="reviewStars-input-4"/>
                <label title="bad" for="star-40"></label>
              </fieldset>
            </li>
            <li>

              <fieldset id="reviewStars-input-5" class="reviewStars-input" ng-class="{'input-error':errors.difficult_score[0]}">
                Difficulté<br/>
                <input id="star-54" type="radio" ng-model="data.difficult_score" value="5" name="reviewStars-input-5"/>
                <label title="gorgeous" for="star-54"></label>

                <input id="star-53" type="radio" value="4" ng-model="data.difficult_score" name="reviewStars-input-5"/>
                <label title="good" for="star-53"></label>

                <input id="star-52" type="radio" value="3" ng-model="data.difficult_score" name="reviewStars-input-5"/>
                <label title="regular" for="star-52"></label>

                <input id="star-51" type="radio" value="2" ng-model="data.difficult_score" name="reviewStars-input-5"/>
                <label title="poor" for="star-51"></label>

                <input id="star-50" type="radio" value="1" ng-model="data.difficult_score" name="reviewStars-input-5"/>
                <label title="bad" for="star-50"></label>
              </fieldset>
            </li>
          </ul>
        </div>

      </div>
      <div class="participate-select first" ng-class="{'input-error':errors.participation_purpose[0]}">
        <div class="col-md-9 col-sm-8">
          <p >Vous avez participe pour</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <select name="select" ng-model="data.participation_purpose">
            <option style="display:none" value="">Choisissez</option>
            <option value="{{key}}" ng-repeat="(key, freq) in oponionFields.participation_purposes"> {{freq}}</option>
          </select>
        </div>
      </div>
      <div class="participate-select" ng-class="{'input-error':errors.participate_again[0]}">
        <div class="col-md-9 col-sm-8">
          <p  >Pensez-vous participer a nouveau a cette course</p>
        </div>
        <div class="col-md-3 col-sm-4">
          <select name="select" ng-model="data.participate_again" >
            <option style="display:none" value="">Choisissez</option>
            <option value="{{key}}" ng-repeat="(key, freq) in oponionFields.participate_again"> {{freq}}</option>
          </select>

        </div>
      </div>
      <input type="text" onfocus="(this.type='time')" ng-class="{'input-error':errors.time[0]}" ng-model="data.course_finish_time" placeholder="Indiquez votre temps en minutes pour cette course au format HH:MM:SS">
      <!--<md-time-picker ng-model="time" message="" read-only="readonly" mandatory="required" no-meridiem no-auto-switch></md-time-picker>-->

      <input type="text" ng-model="data.best_memories" placeholder="Quels sont vos meilleurs souvenirs ?">
      <textarea ng-model="data.place_recommendations" placeholder="Avez-vous un hotel, restaurant a recommander ?"></textarea>
      <textarea ng-model="data.suggestions" placeholder="Des suggestions, points a ameliorer pour les prochaines courses ?"></textarea>
      <div class="col-md-4 col-md-offset-2">
        <button class="next-button" ng-click="nextStep('first')"><img class="rotate-180" src="img/arrow-form-button-icon.png" alt="arrow form button icon">PRECEDENT</button>
      </div>
      <div class="col-md-4">
        <button class="next-button" ng-click="nextStep('third')"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">SUIVANT</button>
      </div>
    </div>

</div>
