<div class="twenty-fourth-page">

    <h1>ECRIRE UN AVIS</h1>
    <div class="steps">
      <img class="img-responsive" src="img/step-3.png" alt="step 3">
    </div>
    <div class="container">
      <div class="row add-photo">
        <div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-2">
          <p>Partage tes photos !</p>
        </div>
        <div class="col-lg-4 col-md-5">
          <button id="selectRunPhotos"><img src="img/add-photo-icon.png"  alt="add photo icon">AJOUTER UNE PHOTO</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 photos">
          <div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <input type="checkbox" id="checkbox2" class="css-checkbox">
          <label for="checkbox2" name="checkbox" class="css-label checkbox">Je certifie certifie certifie certifie certifie certifie certifie certifie certifie certifie certifie certifie certifie certifie certifiecertifie certifie</label>
        </div>
      </div>
      <div class="row buttons">
        <div class="col-md-4 col-md-offset-4">
          <button class="first-button"><img src="img/button-eye-icon.png" alt="button eye icon">APERCU DE L’AVIS</button>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-2">
          <button class="next-button" ng-click="nextStep('second')"><img class="rotate-180" src="img/arrow-form-button-icon.png" alt="arrow form button icon">PRECEDENT</button>
        </div>
        <div class="col-md-4">
          <button class="second-button" ng-click="sendReview()"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">PUBLIER L’AVIS</button>
        </div>
      </div>
    </div>

</div>
