
<div class="loader">
  <div class="loader-item">
    <div class="cssload-preloader cssload-loading">
      <span class="cssload-slice"></span>
      <span class="cssload-slice"></span>
      <span class="cssload-slice"></span>
      <span class="cssload-slice"></span>
      <span class="cssload-slice"></span>
      <span class="cssload-slice"></span>
    </div>
  </div>

</div>
