<footer>
  <div class="footer-main-part">
    <a href="#"><img class="img-responsive" src="img/footer-logo.png" alt="footer logo"></a>
    <ul class="social">
      <li><p>Rejoignez sur</p></li>
      <li><a href="#"><img src="img/twitter-icon.png" alt="twitter icon"></a></li>
      <li><a href="#"><img src="img/facebook-icon.png" alt="facebook icon"></a></li>
      <li><a href="#"><img src="img/instagram-icon.png" alt="instagram icon"></a></li>
    </ul>
    <ul class="footer-upper-menu">
      <li><a href="#">Ecrire un avis</a></li>
      <li><a href="#">Membres</a></li>
      <li><a href="#">Reportages</a></li>
      <li><a href="#">Sélection RUNMOOV</a></li>
    </ul>
    <ul class="footer-down-menu">
      <li><a href="#">A propos de RUNMOOV</a></li>
      <li><a href="#">Organisateurs</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
  </div>
</footer>
