<div ng-controller="HeaderCtrl">
<header >
  <div class="container-fluid mobile-hide">
    <div class="row">
      <div class="col-lg-5 header-left-part">
        <a ui-sref="run.home"><img src="img/logo-h.png" alt="logo header" style="width:300px"></a>
      </div>
      <div class="col-lg-7 header-right-part">
        <nav>
          <div class="row">
            <div class="col-sm-3  col-sm-offset-1 menu-item" style="margin-top: 20px" ng-show="!openLogin">
              <a class="" ui-sref="opinion.main"><img src="img/edit-icon.png" alt="edit icon">Laisser un avis</a>
            </div>
            <div class="col-sm-3 menu-item" ng-show="!openLogin" ng-style="{'margin-top': getActiveMessages.length > 0 ? '14px' : '25px'}">
              <a ui-sref="chat.messages" ng-if="getActiveMessages.length == 0"><img src="img/envelope-without-msg-icon.png"  alt="envelope with msg icon"><span class="messages-qty"></span>Messagerie</a>
              <a ui-sref="chat.messages" ng-if="getActiveMessages.length > 0"><img src="img/envelope-with-msg-icon.png"  alt="envelope with msg icon"><span class="messages-qty" >{{ getActiveMessages.length }}</span>Messagerie</a>
            </div>
            <div class="col-sm-3 menu-item" ng-style="{'margin-top': getActiveNotification.length > 0 ? '14px' : '25px'}" ng-show="!openLogin">


              <a ng-show="getActiveNotification.length == 0" aria-label="Open notifications menu">
                <img src="img/notifications-without-msg-icon.png" alt="bell with msg icon">
                Notifications</a>
              <md-menu ng-show="getActiveNotification.length > 0 ">
                  <a aria-label="Open notifications menu"  ng-click="openMenu($mdMenu, $event)">
                    <img ng-show="getActiveNotification.length == 0" src="img/notifications-without-msg-icon.png" alt="bell with msg icon">
                    <img ng-show="getActiveNotification.length > 0" src="img/notifications-with-msg-icon.png" alt="bell with msg icon">
                    <span ng-show="getActiveNotification.length > 0" class="notifications-qty" >{{getActiveNotification.length}}</span>
                    Notifications</a>


                <md-menu-content width="6">
                  <md-menu-item ng-click="$event.stopPropagation()" class="fx-light-speed fx-dur-600 fx-ease-none" ng-repeat="nt in getActiveNotification track by $index">{{nt.name}}
                    <!--FOR FRIEND REQUEST NOTIFICATIONS-->
                    <div ng-if="nt.event_name == 'friendRequest'">
                      <div class="row no-margin">
                        <div class="col-md-4">
                          <div class="nt-img">
                            <img class="img-responsive" ng-src="{{nt.sender.avatar || 'img/man-profile-icon.png'}}" onerror="this.src = 'img/man-profile-icon.png'" alt="">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <h4>{{nt.sender.name}}</h4>
                          <small>Friend Request</small>
                        </div>
                        <div class="clearfix"></div>

                        <md-button class="md-raised md-warn  pull-right" ng-click="declineFriend(nt.id,$index)">Decline</md-button>
                        <md-button class="md-raised md-primary pull-right" ng-click="acceptFriend(nt.id,$index)">Confirm</md-button>

                      </div>
                      <md-divider></md-divider>
                    </div>

                    <!--FORM ACCEPTED FRIEND NOTIFICATIONS-->
                    <div ng-if="nt.event_name == 'addFriend'">
                      <div class="row no-margin">
                        <div class="col-md-4">
                          <div class="nt-img">
                            <img class="img-responsive" ng-src="{{nt.sender.avatar || 'img/man-profile-icon.png'}}" onerror="this.src = 'img/man-profile-icon.png'" alt="">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <h4>{{nt.sender.name}}</h4>
                          <small>Accepted friend request</small>
                        </div>
                        <div class="clearfix"></div>

                        <md-button class="md-raised md-warn  pull-right" ng-click="closeNotificationItem(nt.id,$index)">Close</md-button>

                      </div>
                      <md-divider></md-divider>
                    </div>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>

            </div>
            <div class="col-sm-2 header-item-fix menu-item" ng-show="!openLogin">
              <p>{{currentUser.firstName()}}</p>
              <a class="menu-toggle-btn" ng-click="menuToggle()">
                <div class="profile-img" >
                  <img class="img-responsive" ng-src="{{ currentUser.avatar() || 'img/bonjor-icon.png' }}" alt="bonjor icon">
                </div>
              </a>
              <div  ng-show="menuIsOpen" class="profile-menu fx-bounce-normal fx-dur-208 fx-ease-none">
                <ul  ng-mouseleave="menuToggle()" >
                  <li ui-sref="profile.view({id:currentUser.userID()})"><a ><img src="img/user-button-icon.png" width="35" style="padding: 8px" alt="settings icon">Mon profil</a></li>
                  <li ui-sref="profile.edit({id:currentUser.userID()})"><a ><img src="img/settings-icon.png" alt="settings icon">Mon compte</a></li>
                  <li ui-sref="schedule.show({id:currentUser.userID()})"><a ><img src="img/calendar-icon.png" alt="calendar icon">Calendrier</a></li>
                  <li ui-sref="profile.records({id:currentUser.userID()})"><a><img src="img/big-trophy-icon.png" alt="big trophy icon">Mes records</a></li>
                  <li ui-sref="friends.list"><a ><img src="img/friends-icon.png" alt="friend icon">Mes amis</a></li>
                  <li ng-show="!openLogin"><a ng-click="logout()"><img src="img/disconnect-icon.png" alt="disconnect icon">Me déconnecter</a></li>
                </ul>
                <span class="tr"></span>
              </div>
            </div>
            <a ng-show="openLogin" ui-sref="auth" class="pull-right">Login / Register</a>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <!-- mobile header -->
  <div class="logo middle-hide-and-more">
    <a href="#" rel="home" ui-sref="run.home"><img class="img-responsive" src="img/logo-header.png" alt="logo header"></a>
  </div>
  <div class="mobile-nav middle-hide-and-more">
    <div class="menu-btn menu-toggle-btn-mobile">
      <div></div>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="responsive-menu">
      <ul id="menu-mobile-menu">
        <li ng-show="!openLogin" ui-sref="profile.view({id:currentUser.userID()})"><a >
          <div class="profile-img">
            <img class="img-responsive" ng-src="{{ currentUser.avatar() || 'img/bonjor-icon.png' }}" alt="bonjor icon">
          </div>
          {{currentUser.firstName()}}</a></li>
        <li ng-show="!openLogin"><a ui-sref="profile.edit({id:currentUser.userID()})"><img src="img/settings-icon.png" alt="settings icon">Mon compte</a></li>
        <li ng-show="!openLogin"><a href="#"><img src="img/notifications-with-msg-icon.png" alt="bell with msg icon"><span class="notifications-qty">5</span>Notifications</a></li>
        <li ng-show="!openLogin"><a href="#"><img src="img/friends-icon.png" alt="friend icon">Mes amis</a></li>
        <li ng-show="!openLogin" ui-sref="chat.messages"><a href="#"><img src="img/envelope-with-msg-icon.png" alt="envelope with msg icon"><span class="messages-qty">7</span>Messagerie</a></li>
        <li ng-show="!openLogin"><a href="#"><img src="img/big-trophy-icon.png" alt="big trophy icon">Mes records</a></li>
        <li ng-show="!openLogin"><a href="#"><img src="img/edit-icon.png" alt="edit icon">Laisser un avis</a></li>
        <li ng-show="!openLogin"><a ng-click="logout()"><img src="img/disconnect-icon.png" alt="disconnect icon">Me déconnecter</a></li>
        <li ng-show="openLogin"><a ng-click="openPopup('views/popups/login.html')">Connexion</a></li>

      </ul>
    </div>
  </div>
  <!-- mobile header end -->

</header>
<!-- Search Filter Portion Start -->
<div class="first-page" ng-show="!openLogin" >
<div class="search-box-first search-filter" >
  <div class="search-box-upper-part search-box-down-part simple-filter" >
    <div id="settings-search" class="simple">
      <img src="img/settings.png" alt="settings filter" > </div>
    <div class="input col-md-3 padding-adjustment no-border">
      <img src="img/key-words-icon.png" alt="key words icon">
      <input class="key-words-field" ng-model="searchRunCriteria.name" type="text" placeholder="Nom de la course">
    </div>
    <div class="input col-md-3 padding-adjustment filter-calendar">
      <img src="img/start-icon.png" alt="start icon">
      <!--<input class="start-field datepicker-search" type="text" ng-model="searchRunCriteria.start_at" placeholder="début de la course">-->
      <md-datepicker ng-model="searchRunCriteria.start_at"
                     id="datepicker"
                     class="start-field datepicker-search"
                     md-placeholder="début de la course"
                     md-hide-icons="calendar"
                     md-open-on-focus></md-datepicker>
      <a class="remove-btn" ng-show="searchRunCriteria.start_at" ng-click="searchRunCriteria.start_at = ''">
        <i class="fa fa-close"></i>
      </a>

    </div>
    <div class="input col-md-3 padding-adjustment filter-calendar">
      <img class="input-fix" src="img/finish-icon.png" alt="finish icon">
      <md-datepicker ng-model="searchRunCriteria.end_at"
                     class="start-field datepicker-search"
                     md-placeholder="fin de la course"
                     md-hide-icons="calendar"
                     md-open-on-focus></md-datepicker>
      <a class="remove-btn" ng-show="searchRunCriteria.end_at" ng-click="searchRunCriteria.end_at = ''">
        <i class="fa fa-close"></i>
      </a>
    </div>
    <div class="button-box col-md-3">
      <button class="rechercher" ng-click="callRunSearch()">Rechercher</button>
      <img src="img/search.png" alt="search icon">

    </div>
  </div>
  <div class="advance-filter">
    <div id="settings-search" class="advance"><img src="img/settings.png" alt="settings filter" > </div>
    <div class="search-box-upper-part">
      <div class="input col-md-3 padding-adjustment">
        <img src="img/key-words-icon.png" alt="key words icon">
        <input class="key-words-field" ng-model="searchRunCriteria.name" type="text" placeholder="Nom de la course">
      </div>
      <div class="input col-md-3 padding-adjustment filter-calendar">
        <img src="img/start-icon.png" alt="start icon">
        <md-datepicker ng-model="searchRunCriteria.start_at"
                       class="start-field datepicker-search"
                       md-placeholder="début de la course"
                       md-hide-icons="calendar"
                       md-open-on-focus></md-datepicker>
        <a class="remove-btn" ng-show="searchRunCriteria.start_at" ng-click="searchRunCriteria.start_at = ''">
          <i class="fa fa-close"></i>
        </a>
      </div>
      <div class="input col-md-3 padding-adjustment filter-calendar">
        <img class="input-fix" src="img/finish-icon.png" alt="finish icon">
        <md-datepicker ng-model="searchRunCriteria.end_at"
                       class="start-field datepicker-search"
                       md-placeholder="fin de la course"
                       md-hide-icons="calendar"
                       md-open-on-focus></md-datepicker>
        <a class="remove-btn" ng-show="searchRunCriteria.end_at" ng-click="searchRunCriteria.end_at = ''">
          <i class="fa fa-close"></i>
        </a>
      </div>
      <div class="input col-md-3 padding-adjustment">
        <img src="img/place-icon.png " alt="place icon">
        <input class="filter-place-field" type="text" ng-model="filterField.address"  g-places-autocomplete placeholder="On voulez-vous courir?">
      </div>

    </div>
    <div class="search-box-down-part">

      <div class="type col-md-6 twenty-sixth-page">
        <h5>
          <img src="img/type.png" alt="type">Type de course
        </h5>
        <div class="format-buttons-box">
          <div class="click-button" ng-repeat="pract_type in systemTypes.practicing_types">
            <input type="checkbox" id="src_formatX -  {{ pract_type.id }}" checklist-model="filterField.types" checklist-value="pract_type.id "  class="css-checkbox">
            <label for="src_formatX -  {{ pract_type.id }}" name="src_format -  {{ pract_type.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon"> {{ pract_type.name }}</span></label>
          </div>

        </div>
      </div>
      <div class="distance-slider col-md-6">
        <p class="distance-text">
          <img src="img/distance.png" alt="distance">Distance en kilomètre
        </p>
        <div id="slider6">
          <rzslider
            rz-slider-model="filterSlider.value"
            rz-slider-options="filterSlider.options"></rzslider>
        </div>

      </div>
      <div class="button-box col-md-12 margin-t-45">
        <button class="rechercher" ng-click="callRunSearch()">Rechercher</button>
        <img src="img/search.png" alt="search icon">
      </div>
    </div>
  </div>
</div>
</div>
</div>
