<div class="thirty-eighth-page">
  <h1>MON PROFIL</h1>
  <div class="container">
    <div class="success-profile">
      <div class="distance-slider">
        <div id="slider4">
          <rzslider
            rz-slider-model="slider.value"
            rz-slider-options="slider.options"></rzslider>
        </div>
      </div>
      <p ng-if="!profileIsComplated">Votre profil n’est pas complet, pour contribuer à la communauté vous devez le remplir à 90%.</p>
      <p ng-if="profileIsComplated"> profil n’est pas complet</p>
      <button ui-sref="profile.update({id:user.id})">COMPLETER MON PROFIL</button>
    </div>
    <div class="row">
      <div class="col-md-6 left-part">
        <h3>MES INFORMATIONS PERSONNELLES</h3>
        <form action="#">
          <div class="input-box first-name">
            <img src="img/user-button-icon.png" alt="user button icon"></button>
            <input ng-model="data.first_name" type="text" placeholder="Prénom">
          </div>
          <div class="input-box last-name">
            <img src="img/user-button-icon.png" alt="user button icon"></button>
            <input ng-model="data.last_name" type="text" placeholder="Nom">
          </div>
          <div class="input-box email">
            <img src="img/envelope-button-icon.png" alt="envelope button icon"></button>
            <input ng-model="data.email" type="email" placeholder="Email">
          </div>
          <div class="input-box date">
            <img src="img/calendar-button-icon.png" alt="calendar button icon"></button>
            <md-datepicker  md-open-on-focus   ng-model="data.dob" id="datepicke" placeholder="Date de naissance"></md-datepicker>
          </div>
          <div class="input-box city">
            <img src="img/place-form-button-icon.png" alt="place form button icon"></button>
            <input ng-model="data.address" g-places-autocomplete type="text" placeholder="Ville">
          </div>
          <input type="checkbox" id="checkbox1" class="css-checkbox">
          <label for="checkbox1" name="checkbox" class="css-label checkbox">J’accepte des emails de la part de RUNMOOV et de ses partenaires.</label>
          <a  ng-click="editUserProfile()" id="editBtn"><img src="img/write-white-icon.png" alt="write white icon">METTRE A JOUR MES INFORMATIONS</a>
        </form>
      </div>
      <div class="col-md-6 right-part">
        <h3>MON AVATAR</h3>
        <div class="photos">
          <div class="added-photo-box">
            <div class="dropzone" id="UserDropZone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>

            <!--<img class="img-responsive" src="img/added-photo-1.png" alt="added photo 1">-->
            <!--<a href="#"><img class="cancel-button" src="img/cancel-icon.png" alt="cancel button"></a>-->
          </div>
        </div>
        <h4>Photo actuelle</h4>
        <button class="edit-photo" id="editPhotoBtn"><img src="img/add-photo-icon.png" alt="add photo icon">MODIFIER MA PHOTO</button>
        <h3>MOT DE PASSE</h3>
        <button class="change-password" ng-click="openChangePassPopup()"><img src="img/locked-white-button-icon.png" alt="locked white button icon">CHANGER MON MOT DE PASSE</button>
      </div>
    </div>
  </div>
</div>
