<!-- MAIN CONTENT -->
<div class="thirty-fifth-page">
  <main>
  <h1 ng-show="friends.length == 0"><img src="img/users.png"  alt="users">MES AMIS</h1>
  <h1 ng-show="friends.length > 0"><img src="img/users.png"  alt="users">RÉSULTATS {{friends.length}}</h1>
  <!-- search box -->
  <div class="search-box-wrapper">
    <div class="search-box">
      <div class="search-box-left-part">
        <div class="input">
          <input type="text" ng-model="data.name" placeholder="Nom, prénom">
        </div>
        <div class="input">
          <img src="img/place-icon.png" alt="place icon">
          <input type="text" g-places-autocomplete ng-model="geo.location" placeholder="Location">
        </div>
      </div>
      <div class="search-box-right-part">
        <div class="search-box-right-upper-part">
          <button class="rechercher" ng-click="searchUsers()">Rechercher</button>
          <div class="search-icon-box">
            <img src="img/search-icon.png" alt="search icon">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- search box end-->
  <!--<h3>VOUS AVEZ {{friends.length}} AMI(E)S</h3>-->
  <h3 ng-show="friends.length == 0"> No Result </h3>
  <div class="container">
    <div  class=" row people fx-light-speed fx-dur-690 fx-ease-none fx-stagger-0" ng-repeat="friend in friends track by $index">
      <div class="col-lg-1 col-lg-offset-1 col-sm-2 col-sm-offset-1">
        <img ng-src="{{ friend.avatar || 'img/man-profile-icon.png'" ui-sref="profile.view({id:friend.id})" class="img-responsive pointer" onerror="this.src = 'img/man-profile-icon.png'" alt="friends img 1">
      </div>
      <div class="col-lg-7 col-sm-6">
        <p ui-sref="profile.view({id:friend.id})" class="pointer" ng-class="{'bold':friend.is_friend}">{{friend.name}}</p>
      </div>
      <div class="col-lg-2 col-sm-2 icons">
        <a ng-show="friend.is_friend" ng-click="openMsgPopup(friend.id)"><img src="img/email-icon.png" alt="email icon"></a>
        <a ng-show="friend.is_friend" ng-click="removeFriend(friend.id, $index)"><img src="img/transfers-close-icon.png" alt="transfers close icon"></a>
      </div>
    </div>

    <div class="col-sm-10 col-sm-offset-1">
      <button class="add-friend"><img src="img/add-friend-icon.png" alt="add-friend-icon">INVITER UN(E) AMI(E) A REJOINDRE LA COMMUNAUTE</button>
    </div>
  </div>
</main>
</div>
<!-- MAIN CONTENT end -->
