<rm-loader ng-hide="profileIsActive"></rm-loader>
<div class="forty-fifth-page">
  <div class="container" id="profile-page">
  <div class="row">
    <div ng-show="userId" class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 profile-image fx-bounce-left fx-dur-600 fx-ease-none">
      <img class="img-responsive" onerror="this.src='http://www.troitsk-avto.ru/templates/Driving_school/dleimages/noavatar.png'" style="width: 100%" ng-src="{{ user.avatar || 'http://www.troitsk-avto.ru/templates/Driving_school/dleimages/noavatar.png' }}"alt="profile image">
    </div>
    <div ng-show="userId"  class="col-md-4 col-sm-5 fx-bounce-left fx-dur-600 fx-ease-none">
      <h1>{{user.first_name + ' ' + user.last_name}}</h1>
      <p class="place"><img ng-src="img/place-gray.png" alt="place gray">{{user.address}}</p>
      <p class="date">Inscrit depuis le {{formatDate(user.practice_since)}}</p>
    </div>
    <div ng-show="userId"  class="col-md-2 col-sm-2 medal fx-bounce-left fx-dur-600 fx-ease-none">
      <img class="img-responsive" ng-src="{{'img/'+ user.user_level.name +'.png'}}" alt="baby runner">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3 col-sm-5">
      <button class="btn_1" ng-class="{'activeRequest' : frRequest}" ng-if="user.id !== authUserID && !user.is_friend" ng-click="friendRequest(user.id)">
        <span ng-show="!frRequest"><img src="img/add-friend-icon.png" alt="add friend icon">AJOUTER</span>
        <span ng-show="!user.is_friend && frRequest" ><img src="img/add-friend-icon.png" alt="add friend icon">DEMANDE D'AMI ENVOYÉE</span>
      </button>

      <button class="btn_1" ng-if="user.id !== authUserID  && user.is_friend" ng-click="removeFromFriends(user.id)">
        <span ng-click="removeFromFriends(user.id)"><img src="img/remove-friend-icon.png" width="40" alt="remove friend icon">REMOVE</span>
      </button>
    </div>
    <div class="col-md-4 col-sm-7">
      <button class="btn_2" ng-if="user.id !== authUserID" ng-click="openMsgPopup(user.id)"><img src="img/white-envelope-icon.png" alt="white envelope icon">ENVOYER UN MESSAGE</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 presentation">
      <h1 class="text-left" style="margin-bottom: 25px">PRESENTATION</h1>
      <hr>
      <p>{{user.presentation}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 left-side">
      <h1>JE PRATIQUE</h1>
    </div>
    <div class="col-sm-6 format-buttons-box">
      <div class="click-button">
        <input type="checkbox" id="checkbox1" class="css-checkbox" disabled>
        <label for="checkbox1" name="checkbox" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">Route</span></label>
      </div>
      <div class="click-button">
        <input type="checkbox" id="checkbox2" class="css-checkbox" disabled>
        <label for="checkbox2" name="checkbox" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">Trail</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 left-side">
      <h1>JE PREFERE</h1>
    </div>
    <div class="col-sm-6 format-buttons-box">

      <div class="click-button" ng-repeat="course_format in user.course_formats track by $index" >
        <input type="checkbox" id="course_format-{{ course_format.id }}" disabled checklist-model="data.course_formats" checklist-value="course_format.id " class="css-checkbox" >
        <label for="course_format-{{ course_format.id }}" name="course_format -  {{ course_format.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">{{ course_format.name }}</span></label>
      </div>

      <div class="click-button">
        <input type="checkbox" id="checkbox3" class="css-checkbox" checked disabled>
        <label for="checkbox3" name="checkbox" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">Semi-marathon</span></label>
      </div>
      <div class="click-button">
        <input type="checkbox" id="checkbox4" class="css-checkbox" disabled>
        <label for="checkbox4" name="checkbox" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">Marathon</span></label>
      </div>
      <div class="click-button">
        <input type="checkbox" id="checkbox5" class="css-checkbox" checked disabled>
        <label for="checkbox5" name="checkbox" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">Trail court (- 25km)</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 left-side">
      <h1>JE COURS</h1>
    </div>
    <div class="col-sm-6">
      <p class="run-text">PLUS DE 3 FOIS PAR SEMAINE.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>J’Y PARTICIPE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 event-description">
      <div class="col-sm-3 col-sm-offset-1 run-icon">
        <img class="img-responsive" src="img/run-icon.png" alt="run icon">
      </div>
      <div class="col-sm-8">
        <h1>NOM DE LA COURSE</h1>
        <div class="event-rating">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <button>2081 avis</button>
        </div>
        <p class="event-publication-date">Postée le 22 juillet 2017</p>
        <p class="event-publication-author">Par Jean Dujardin</p>
      </div>
    </div>
    <div class="col-sm-6 event-description">
      <div class="col-sm-3 run-icon">
        <img class="img-responsive" src="img/run-icon.png" alt="run icon">
      </div>
      <div class="col-sm-8">
        <h1>NOM DE LA COURSE</h1>
        <div class="event-rating">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <button>2081 avis</button>
        </div>
        <p class="event-publication-date">Postée le 22 juillet 2017</p>
        <p class="event-publication-author">Par Jean Dujardin</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>J’Y AI PARTICIPE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 event-description">
      <div class="col-sm-3 col-sm-offset-1 run-icon">
        <img class="img-responsive" src="img/run-icon.png" alt="run icon">
      </div>
      <div class="col-sm-8">
        <h1>NOM DE LA COURSE</h1>
        <div class="event-rating">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <img src="img/star.png" alt="star">
          <button>2081 avis</button>
        </div>
        <p class="event-publication-date">Postée le 22 juillet 2017</p>
        <p class="event-publication-author">Par Jean Dujardin</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>MES RECORDS</h1>
    </div>
  </div>
  <div class="row records">
    <div class="col-sm-6 fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="record in records">
      <p> {{ record.time }} : {{ record.course_date_id[0].name }} </p>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>ALBUM PHOTOS</h1>
    </div>
  </div>
    <div class="run-gallery">
      <div class="col-md-4 col-sm-3 col-xs-6 fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="image in album">
        <div class="gallery-item">
          <a ng-href="{{ image.url }}" data-fancybox="images">
            <img ng-src="{{ image.url }}" >
          </a>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>COURSES CREEES</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 event-description fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="run in user.created_courses track by $index">
      <div class="col-sm-3 col-sm-offset-1 run-icon">
        <a data-fancybox ng-href="{{run.course.course_images[0].url || 'img/run-icon.png'}}">
          <img class="img-responsive" ng-src="{{ run.course.course_images[0].url || 'img/run-icon.png' }}" alt="run icon">
        </a>
      </div>
      <div class="col-sm-8">
        <h1>{{run.course.name}}</h1>
        <div class="event-rating">
          <img src="img/star.png" alt="star" class="fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110"  ng-repeat="n in getRepeatNumber(getRunTotalScore(run.totals)) track by $index">
          <button>{{ run.reviews_count }} avis</button>
        </div>
        <p class="event-publication-date">Postée le {{formatDate(run.created_at.date)}}</p>
        <p class="event-publication-author">{{run.user.first_name + ' ' + run.user.last_name}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>MES CONTRIBUTIONS</h1>
    </div>
  </div>
  <div class="row event fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="op in user.opinions | orderBy:'created_at.date':true track by $index" >
    <div class="col-sm-2 run-icon">
      <a data-fancybox ng-href="{{op.course_date_id.course.course_images[0].url || 'img/run-icon.png'}}">
        <img class="img-responsive" ng-src="{{ op.course_date_id.course.course_images[0].url || 'img/run-icon.png' }}" alt="run icon">
      </a>
    </div>
    <div class="col-sm-10 event-description">
      <h1>{{op.course_date_id.course.name}}</h1>
      <div class="event-rating">
        <img src="img/star.png" alt="star" class="fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="n in getRepeatNumber(op.total) track by $index">

        <button>Note globale</button>
      </div>
      <div class="event-info">
        <p class="event-publication-text">{{ op.body }}</p>
        <p class="event-publication-date">Postée le {{formatDate(op.created_at.date)}}</p>
        <p class="event-publication-author">{{op.course_date_id.user.first_name + ' ' + op.course_date_id.user.last_name}}</p>
      </div>
      <p class="event-place"><img src="img/event-place-icon.png" alt="event place icon">{{ op.course_date_id.course.location || 'No Info' }}</p>
      <p class="event-date"><img src="img/event-clock-icon.png" alt="event clock icon">{{ formatRangeDate(op.course_date_id.start_at, op.course_date_id.end_at) }}</p>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="row">
            <div class="col-sm-4 fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="img in op.images" >
              <figure>
                <a data-fancybox class="thumb-img" ng-href="{{img.url || 'img/run-icon.png'}}">
                  <img class="img-responsive" ng-src="{{ img.url || 'img/run-icon.png' }}" alt="run icon">
                </a>
              </figure>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
