<div class="forty-first-page">
  <h1>MES RECORDS</h1>
  <h2>AJOUTER UN RECORD</h2>
  <div class="container">
    <!-- search-box-records -->
    <div class="search-box-records">
      <div class="search-box">
        <div class="search-box-left-part">
          <div class="input">
            <!--<input type="text" ng-model="data.course_date_id" placeholder="Nom de la course">-->

            <angucomplete-alt id="ex1"
                          placeholder="Nom de la course"
                          pause="20"
                              remote-url="{{runsURL}}?name="
                              remote-url-data-field="data"
                              selected-object="selectedRun"
                              title-field="course.name"
                              description-field="email"
                              minlength="1"
                              image-field="course.images[0]"
                          inputclass=""/>
          </div>
          <div class="input">
            <img src="img/time.png" alt="time">
            <input type="text" step="1" onfocus="(this.type='time')" ng-model="data.time" placeholder="TEMPS RECORD (mins)">
          </div>
        </div>
        <div class="search-box-right-part">
          <button ng-click="addRecord()"><img src="img/plus-transparent-button.png" alt="plus transparent button">AJOUTER</button>
        </div>
      </div>
    </div>
    <!-- search-box-records -->

    <h1 ng-show="records" class="fx-bounce-left fx-dur-600 fx-ease-none">VOUS AVEZ {{records.length}} RECORDS</h1>
    <div class="row records fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="record in records track by $index" >
      <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2">
        <p>{{record.course_date_id[0].name}} :</p>
      </div>
      <div class="col-md-2 col-sm-3">
        <p>{{record.time}}</p>
      </div>
      <div class="col-md-1 col-sm-1">
        <a ng-if="record.user_id == userID" ng-click="removeRecord(record.id, $index)"><img src="img/transfers-close-icon.png" alt="transfers close icon"></a>
      </div>
    </div>

  </div>
</div>
