<h1>MON PROFIL</h1>
<div class="container" id="update-profile">
  <!--<div class="success-profile">-->
    <!--<div class="distance-slider ">-->
      <!--&lt;!&ndash;<div id="slider5"></div>&ndash;&gt;-->
      <!--<div class="col-md-8 col-md-offset-2">-->
      <!--<rzslider-->
        <!--rz-slider-model="slider.value"-->
        <!--rz-slider-options="slider.options"></rzslider>-->
      <!--</div>-->
    <!--</div>-->
    <!--<p>Votre profil n’est pas complet, pour contribuer à la communauté vous devez le remplir à 90%.</p>-->
    <!--<button ng-click="scrollToElement('next-button')">COMPLETER MON PROFIL</button>-->
  <!--</div>-->
  <h3>MES INFORMATIONS PERSONNELLES</h3>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Je pratique depuis le</p>
    </div>
    <div class="col-md-5">
      <div class="input-box date" >
        <md-datepicker ng-model="data.practice_since" id="datepicker" md-placeholder="Date de naissance" md-open-on-focus></md-datepicker>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <!--<p>J’habite à</p>-->
    </div>
    <div class="col-md-5">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Je pratique</p>
    </div>
    <div class="col-md-6 format-buttons-box">

      <div class="click-button" ng-repeat="pract_type in systemTypes.practicing_types">
        <input type="checkbox" id="src_format -  {{ pract_type.id }}" checklist-model="data.user_practicing" checklist-value="pract_type.id "  class="css-checkbox">
        <label for="src_format -  {{ pract_type.id }}" name="src_format -  {{ pract_type.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon"> {{ pract_type.name }}</span></label>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Je préfère les formats</p>
    </div>
    <div class="col-md-6 format-buttons-box">
      <div class="click-button" ng-repeat="course_format in systemTypes.course_formats">
        <input type="checkbox" id="course_format -  {{ course_format.id }}" checklist-model="data.course_formats" checklist-value="course_format.id " class="css-checkbox" >
        <label for="course_format -  {{ course_format.id }}" name="course_format -  {{ course_format.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon">{{ course_format.name }}</span></label>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Je cours</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.running_frequency">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-repeat="(key, freq) in systemTypes.running_frequency"> {{freq}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Je préfère participer à des courses</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.practice_location">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-selected="systemTypes.practice_location[0]" ng-repeat="(key, location) in systemTypes.practice_location"> {{location}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Pour une course, je voyage habituellement</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.voyage_with">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-repeat="(key, voyage_with) in systemTypes.voyage_with"> {{voyage_with}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Mon budget voyage</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.budget">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-repeat="(key, budget) in systemTypes.budget"> {{budget}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Mon hébergement préféré</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.living_preferences">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-repeat="(key, living_preferences) in systemTypes.living_preferences"> {{living_preferences}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>Mon moyen de transport préféré est</p>
    </div>
    <div class="col-md-5">
      <select name="select" ng-model="data.transportation_mode">
        <option style="display:none" value="">Choisissez</option>
        <option value="{{key}}" ng-repeat="(key, transport) in systemTypes.transportation_mode"> {{transport}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side">
      <p>L’important dans une course pour moi, c’est</p>
    </div>
    <div class="col-md-6 format-buttons-box">
      <div class="click-button" ng-repeat="course_imp in systemTypes.course_importance">
        <input type="checkbox"  id="course_imp + {{ course_imp.id }}" checklist-model="data.course_importance" checklist-value="course_imp.id" class="css-checkbox">
        <label for="course_imp + {{ course_imp.id }}" name="course_imp + {{ course_imp.id }}" class="css-label checkbox"><span><img class="icon" src="img/check-button-icon.png" alt="check button icon"> {{ course_imp.name }}</span></label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <textarea placeholder="Ma présentation" ng-model="data.presentation"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <button class="next-button" id="next-button" ng-click="updateProfileData()"><img src="img/arrow-form-button-icon.png" alt="arrow form button icon">SUIVANT</button>
    </div>
  </div>
</div>
