<div class="twenty-sixth-page" id="addArticle">

  <h1>PUBLIER L'ARTICLE</h1>
<div class="row">

  <!--<div class="col-md-6 col-md-offset-3" >-->
  <!--<div class="btn-group articles-types" data-toggle="buttons">-->
    <!--<label class="btn btn-success active">-->
      <!--<input type="radio" ng-change="getActiveTypeName($event)" ng-model="data.categories" value="1" autocomplete="off" checked> Interview-->
    <!--</label>-->
    <!--<label class="btn btn-success">-->
      <!--<input type="radio" ng-change="getActiveTypeName($event)" ng-model="data.categories" value="2"  autocomplete="off"> Preview-->
    <!--</label>-->
  <!--</div>-->
  <!--</div>-->

  <div class="row cat-select">

    <div class="col-md-6 col-md-offset-3 ">
      <div class="row">
        <div class="col-md-offset-2 col-md-4 left-side">
          <p>Categories</p>
        </div>
        <div class="col-md-4">
          <select name="select" ng-model="data.category">
            <option disabled value="" selected>Choisissez</option>
            <option value="{{$index}}" ng-repeat="(key, cat) in categories"> {{cat.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3" ng-class="{'input-error':errors.title[0]}">
    <input type="text" ng-model="data.title" placeholder="{{'Intitulé de l\'' + activeType }}">
  </div>

  <div class="col-md-8 col-md-offset-2" ng-class="{'input-error':errors.body[0]}">
    <textarea ng-model="data.body" placeholder="{{'Texte de l\'' + activeType}}" ></textarea>
  </div>

  <div class="col-md-8 col-md-offset-2" >
    <div class="space-20 "></div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label><i class="material-icons">add_a_photo</i> IMAGE</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Images</h1>
            <div class="thirty-eighth-page">
              <button class="edit-photo" id="addPhotoBtn"><img src="img/add-photo-icon.png" alt="add photo icon">Ajouter une image</button>
            </div>
            <div class="dropzone" id="UserDropZone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>

          </md-content>
        </md-tab-body>

      </md-tab>
      <md-tab>
        <md-tab-label><i class="material-icons">video_library</i> VIDEO</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Videos</h1>

            <div class="row fx-bounce-left fx-dur-600 fx-ease-none" ng-repeat="video in data.videos track by $index">

              <div class="col-md-12 text-right" ><a ng-click="removeVideo($index)"><i class="material-icons remove-clr">remove_circle_outline</i></a> </div>
              <div class="col-md-6 col-md-offset-3" >
                <input type="text" ng-model="video.url" placeholder="Video Link">
              </div>
              <div class="col-md-8 col-md-offset-2">
                <ng-youtube-embed
                  video="video.url"
                  autoplay="false"
                  color="white"
                  disablekb="true"
                  width="100%"
                  height="400px"
                >
                </ng-youtube-embed>
                <hr>
              </div>
            </div>


            <div class="thirty-eighth-page">
             <button class="edit-photo" ng-click="addMoreVideo()" id="addVideoBtn"><img src="img/add-photo-icon.png" alt="add photo icon">Ajouter une vidéo</button>
            </div>
          </md-content>
        </md-tab-body>

      </md-tab>
    </md-tabs>

    <div class="twenty-sixth-page"><button class="next-button" ng-click="saveArticle()"><img src="img/plus-button.png" alt=""> PUBLIER L'ARTICLE</button></div>

  </div>
  <div class="clearfix"></div>



</div>
</div>
