<div class="twenty-sixth-page" id="addArticle">

  <h1>ADD ARTICLE</h1>
<div class="row">



  <div class="row cat-select">

    <div class="col-md-6 col-md-offset-3 ">
      <div class="row">
        <div class="col-md-offset-2 col-md-4 left-side">
          <p>Categories</p>
        </div>
        <div class="col-md-4">
          <select name="select" ng-model="category_id">
            <option disabled selected value="">Choisissez</option>
            <option value="{{cat.id}}" ng-selected="cat.name === data.category.name" ng-repeat="(key, cat) in categories"> {{cat.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-md-offset-3" ng-class="{'input-error':errors.title[0]}">
    <input type="text" ng-model="data.title" placeholder="{{'Nom officiel de la ' + activeType }}">
  </div>

  <div class="col-md-8 col-md-offset-2" ng-class="{'input-error':errors.body[0]}">
    <textarea ng-model="data.body" placeholder="{{'Description de la ' + activeType}}" ></textarea>
  </div>

  <div class="col-md-8 col-md-offset-2" >
    <div class="space-20 "></div>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab>
        <md-tab-label><i class="material-icons">add_a_photo</i> IMAGE</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Add Image</h1>
            <div class="thirty-eighth-page">
              <button class="edit-photo" id="addPhotoBtn"><img src="img/add-photo-icon.png" alt="add photo icon">Add  PHOTO</button>
            </div>
            <div class="dropzone" id="ArticleDropZone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>

          </md-content>
        </md-tab-body>

      </md-tab>
      <md-tab>
        <md-tab-label><i class="material-icons">video_library</i> VIDEO</md-tab-label>
        <md-tab-body>
          <md-content class="md-padding">
            <h1 class="md-display-2">Add Video</h1>

            <div class="row fx-bounce-left fx-dur-600 fx-ease-none" ng-repeat="video in data.article_videos track by $index">

              <div class="col-md-12 text-right" ><a ng-click="removeVideo($index)"><i class="material-icons remove-clr">remove_circle_outline</i></a> </div>
              <div class="col-md-6 col-md-offset-3" >
                <input type="text" ng-model="video.file_name" placeholder="Video Link">
              </div>
              <div class="col-md-8 col-md-offset-2">
                <ng-youtube-embed
                  video="video.file_name"
                  autoplay="false"
                  color="white"
                  disablekb="true"
                  width="100%"
                  height="400px"
                >
                </ng-youtube-embed>
                <hr>
              </div>
            </div>


            <div class="thirty-eighth-page">
             <button class="edit-photo" ng-click="addMoreVideo()" id="addVideoBtn"><img src="img/add-photo-icon.png" alt="add photo icon">Add More Video</button>
            </div>
          </md-content>
        </md-tab-body>

      </md-tab>
    </md-tabs>

    <div class="twenty-sixth-page"><button class="next-button" ng-click="updateArticle()"><img src="img/plus-button.png" alt=""> EDIT ARTICLE</button></div>

  </div>
  <div class="clearfix"></div>



</div>
</div>
