<div class="forty-fifth-page">
  <div class="container" id="profile-page">
    <b class="pull-left" style="color:darkgray">{{formatDate(article.created_at.date)}}</b>
    <div class="text-right">
      <a ng-if="article.user.id === AUTHUSER.userID()" ui-sref="run.article_edit({id:article.id})">Edit Article</a>
    </div>
    <center>
      <div class="rm-title-box"><b>{{ article.category.name }}</b></div>

      <div class="profile-image" style="width:220px">
        <img class="img-responsive"  onerror="this.src='http://www.troitsk-avto.ru/templates/Driving_school/dleimages/noavatar.png'" style="width: 100%" ng-src="{{ article.user.avatar || 'http://www.troitsk-avto.ru/templates/Driving_school/dleimages/noavatar.png' }}"alt="profile image">
      </div>


      <div class="rm-title-box1"><h4>{{article.user.name}}</h4></div>
    </center>

    <div class="row">
      <center >

      </center>

      <div class="col-md-3 col-sm-4 fx-bounce-left fx-dur-600 fx-ease-none">

      </div>
      <div class="col-md-3 col-sm-3 medal fx-bounce-left fx-dur-600 fx-ease-none">

      </div>
    </div>



    <div class="row">
      <div class="col-sm-12 presentation">
        <h2 class="text-center" style="margin-bottom: 25px">{{article.title}}</h2>
        <hr>
        <p>{{article.body}}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <h1>Images</h1>
      </div>
    </div>
    <div class="run-gallery">
      <div class="col-md-4 col-sm-3 col-xs-6 fx-bounce-left fx-dur-600 fx-ease-none fx-stagger-110" ng-repeat="image in article.article_images">
        <div class="gallery-item">
          <a ng-href="{{ image.file_name }}" data-fancybox="images">
            <img ng-src="{{ image.file_name }}" >
          </a>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
        <h1>Videos</h1>
      </div>
    </div>
    <div class="row">
      <div class="video-list col-md-4" ng-repeat="video in article.article_videos">
        <ng-youtube-embed
          video="video.file_name"
          autoplay="false"
          color="white"
          disablekb="true"
          width="100%"
          height="300px"
        >
        </ng-youtube-embed>
      </div>
    </div>

  </div>
</div>
